@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.title {
  letter-spacing: 1px;
  font-size: 35px;
  font-weight: bold; }

.publicacion, .preguntaBlw, .recomendaciones, .verPlanes, .valores, .blw, .nosotras, .news {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 200px; }

.preguntaBlw p, .beneficios ul, .recomendaciones p, .recomendaciones ul, .planes__p, .carolina p, .daiana p, .recetas__p, .contacto p, .blw__info .blw__p, .asesoria__p, .grupo__h3, .grupo__p, .nosotras__info .nosotras_p, .news__info .news__p {
  color: black;
  font-size: 18px; }

.news .news__button, .verPlanes a, .valores a, .plan__reserva .plan__reserva-a, .grid .grid__texto-a:hover, .botonPublicacion, .botonContacto .botonForm {
  background-color: #ff9800;
  color: white;
  font-weight: bold;
  letter-spacing: 2px; }

/* header */
.login .login__registro {
  background-color: #ff9800;
  color: white;
  border: 0px; }

.login .login__registro:hover {
  background-color: #6ec5b8; }

/* asesoria llamado a planes */
.asesoria__boton {
  font-size: 14px;
  letter-spacing: 2px;
  background-color: #6ec5b8;
  color: white;
  border-radius: 20px;
  animation-name: btn__asesoria;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  transition: all 0.5s ease-out; }
  .asesoria__boton::after {
    position: absolute;
    margin-left: -30px;
    right: 1px;
    content: " ";
    background-color: #6ec5b8;
    width: 100%;
    height: 100%;
    filter: blur(28px);
    z-index: -1; }
  .asesoria__boton:hover {
    background-color: #ff9800; }

@keyframes btn__asesoria {
  from {
    transform: scale(1.1, 1.1); }
  to {
    transform: scale(1, 1); } }

/* newsletter */
.news .news__button {
  border: none;
  transition: all 0.5s ease-out; }

.news .news__button:hover {
  transform: scale(1.2, 1.2);
  border: none; }

/* footer */
.accordion .accordion-item button {
  font-size: 14px;
  font-weight: bold; }

/* llamado a planes */
.verPlanes a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  transition: all 0.5s ease-out; }

.verPlanes .botonVer {
  transition: all 0.5s ease-out; }

.verPlanes .botonVer:hover {
  transform: scale(1.2, 1.2); }

/* llamado a contacto */
.valores a {
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
  transition: all 0.5s ease-out; }
  .valores a:hover {
    transform: scale(1.2, 1.2); }

/* planes */
.plan__reserva {
  list-style-type: none;
  transition: all 0.5s ease-out; }
  .plan__reserva .plan__reserva-a {
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    transition: all 0.5s ease-out; }

.plan__reserva:hover {
  transform: scale(1.1, 1.1); }
  .plan__reserva:hover-a:hover {
    background-color: #6ec5b8; }

/* recetas */
.grid__texto .grid__texto-a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-weight: 400;
  padding: 5px;
  transition: all 0.5s ease-out; }

.grid .grid__texto-a:hover {
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 20px; }

.grid .grid__texto-a--meriendas:hover {
  background-color: #6ec5b8; }

.botonPublicacion {
  font-size: 14px;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease-out; }
  .botonPublicacion:hover {
    transform: scale(1.1, 1.1); }

/* contacto */
.redesContacto a i {
  color: #ff9800; }

.botonContacto .botonForm {
  border: none;
  border-radius: 15px;
  transition: all 0.5s ease-out; }

.botonForm:hover {
  transform: scale(1.2, 1.2); }

.logo {
  width: 280px; }

.login__registro {
  background-color: #ff9800;
  color: white;
  border: 0px; }
  .login__registro:hover {
    background-color: #6ec5b8; }

.login__img {
  width: 30px;
  transition: all 0.3s ease-out; }
  .login__img:hover {
    transform: scale(0.8, 0.8); }
  .login__img--user:hover {
    transform: none; }

.login__input {
  width: 170px;
  height: 20px;
  font-size: 14px;
  transition: all 0.5s ease-out; }
  .login__input:hover {
    transform: scale(1.3, 1.3); }

.menu {
  background-color: #ff9800; }
  .menu a {
    color: white !important;
    font-size: 16px;
    letter-spacing: 2px;
    margin-right: 15px;
    transition: all 0.4s ease-out; }
    .menu a:hover {
      background-color: #6ec5b8;
      background-size: cover; }

.hr {
  opacity: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 10px !important;
  color: #ff9800; }

/* INICIO FOOTER */
.foot ul {
  font-size: 14px;
  color: #ff9800;
  font-weight: bold; }
  .foot ul li {
    list-style-type: none; }

.accordion {
  width: 300px; }
  .accordion-item button {
    color: black;
    font-size: 14px;
    font-weight: bold; }
    .accordion-item button-item h4 {
      border-bottom: 0px; }
  .accordion ul {
    font-size: 14px;
    font-weight: bold;
    color: #ff9800; }
    .accordion ul .foot ul li {
      list-style-type: none; }

.redesFoot {
  font-size: 30px; }
  .redesFoot a i {
    color: #ff9800; }

.logoFoot {
  width: 250px; }

/* FIN FOOTER */
/* recetas */
.publicacion {
  background-image: url(../img/back.png);
  border-radius: 200px; }
  .publicacion fieldset {
    padding: 30px 80px 40px 80px;
    border: none; }
  .publicacion legend {
    color: white;
    font-size: 30px; }

.datosPublicacion {
  display: flex; }
  .datosPublicacion input {
    font-size: 16px;
    border: none;
    border-radius: 5px; }

.areaPublicacion textarea {
  width: 100%;
  font-size: 16px;
  color: gray;
  border: none;
  border-radius: 5px; }

.checkPublicacion {
  font-size: 16px;
  color: black; }

/* contacto */
.form {
  transition: all 0.5s ease-out; }
  .form:hover {
    transform: scale(1.2, 1.2); }

.fieldset {
  background-image: url(../img/back.png);
  border-radius: 20px;
  width: 350px;
  margin: auto;
  border: none; }
  .fieldset .formulario .tamaño {
    width: 100%;
    font-size: 14px;
    color: gray;
    border: none;
    border-radius: 5px; }

.new {
  font-size: 12px;
  color: black; }

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-items: center; }
  .grid__article {
    background: #6ec5b8;
    border: none;
    border-radius: 20px;
    width: 250px;
    transition: all 0.5s ease-out; }
    .grid__article:hover {
      transform: scale(1.2, 1.2); }
  .grid__img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }

.grid__article--meriendas {
  background-color: #ff9800 !important;
  border: none;
  border-radius: 20px;
  width: 250px; }
  .grid__article--meriendas div a:hover {
    background-color: #6ec5b8;
    border-radius: 20px; }

.grid__texto-a {
  text-decoration: none;
  font-size: 14px;
  color: white; }

.grid div a:hover {
  background-color: #ff9800;
  border-radius: 20px; }

.preguntaBlw {
  background-image: url(/img/backAzul1.png); }
  .preguntaBlw img {
    max-width: 400px;
    border-radius: 27% 73% 66% 34%/52% 39% 61% 48%; }
  .preguntaBlw h1 {
    color: white;
    font-size: 35px; }
  .preguntaBlw p {
    margin-right: 70px; }

.beneficios h2 {
  color: #ff9800;
  font-size: 35px; }

.beneficios ul li {
  margin-left: 200px; }

.ulBeneficios video {
  width: 210px;
  margin-right: 120px;
  border-radius: 140px; }

.recomendaciones {
  margin-right: 100px;
  font-size: 18px;
  background-image: url(../img/backNaranja.png); }
  .recomendaciones img {
    max-width: 300px;
    border-radius: 27% 73% 66% 34%/52% 39% 61% 48%; }
  .recomendaciones h2 {
    color: white;
    font-size: 35px; }

.conclusion {
  color: black;
  font-size: 19px;
  margin-right: 120px;
  margin-left: 150px; }

.verPlanes {
  background-image: url(../img/back.png); }
  .verPlanes p {
    color: white;
    font-size: 35px;
    animation-name: ver;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    animation-timing-function: ease-in;
    animation-direction: none;
    transition: none; }

@keyframes ver {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(1.1, 1.1); } }

.planes {
  background-image: url(../img/back.png);
  border-radius: 200px; }
  .planes__h1 {
    color: white;
    font-size: 35px; }

.plan {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-items: center; }

.plan__carrot {
  background-color: #6ec5b8;
  border-radius: 80px;
  margin-top: 30px;
  transition: all 0.5s ease-out; }
  .plan__carrot-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
  .plan__carrot-h3 {
    color: white; }
  .plan__carrot-ul {
    font-size: 16px;
    color: black;
    padding: 5px 0px 0px 40px; }
    .plan__carrot-ul li {
      padding-bottom: 0px;
      padding-right: 10px; }

.plan__carrot:hover {
  transform: scale(1.1, 1.1);
  background-color: #ff9800; }
  .plan__carrot:hover .plan__reserva-a {
    background-color: #6ec5b8; }

.carolina img {
  max-width: 300px;
  border-radius: 27% 73% 66% 34%/52% 39% 61% 48%;
  height: auto;
  background-color: #6ec5b8; }

.carolina h1 {
  color: white;
  font-size: 30px;
  background-color: #6ec5b8;
  border-radius: 20px;
  margin: 5px 250px; }

.carolina p {
  margin-left: 30px; }

.daiana img {
  max-width: 350px;
  border-radius: 59% 41% 41% 59%/53% 47% 53% 47%;
  height: auto;
  background-color: #ff9800; }

.daiana h2 {
  color: white;
  font-size: 30px;
  background-color: #ff9800;
  border-radius: 20px;
  margin: 5px 200px; }

.valores {
  background-image: url(../img/back.png); }
  .valores__p {
    color: white;
    font-size: 30px;
    animation-name: valor;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    animation-timing-function: ease-in;
    animation-direction: none;
    transition: none; }
  .valores__p2 {
    color: black;
    font-size: 20px; }

@keyframes valor {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(1.1, 1.1); } }

.recetas {
  background-image: url(../img/back.png);
  border-radius: 200px; }
  .recetas__h1 {
    color: white;
    font-size: 35px; }

.grid__h2 {
  color: #ff9800;
  font-size: 35px; }
  .grid__h2--meriendas {
    color: #6ec5b8;
    font-size: 35px; }

.contacto {
  margin-right: 200px; }
  .contacto h1 {
    color: #6ec5b8;
    font-size: 35px; }

.redesContacto {
  font-size: 45px; }

body {
  font-family: "Montserrat"; }

/* INICIO BLW */
.blw {
  background-image: url(../img/backAzul.png); }
  .blw__img {
    max-width: 400px;
    border-radius: 200px; }

.blw__info {
  margin-left: 120px; }
  .blw__info .blw__h1 {
    color: white;
    font-size: 50px; }

/* FIN BLW */
/* INICIO ASESORIA */
.asesoria {
  margin-bottom: -40px; }
  .asesoria__h2 {
    color: #ff9800;
    font-size: 35px; }
  .asesoria__a {
    text-decoration: none; }

.grupo {
  transition: all 1s ease-out;
  position: relative;
  overflow: hidden; }
  .grupo__h3 {
    position: relative;
    z-index: 1; }
  .grupo__p {
    position: relative;
    z-index: 1;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease-out; }
  .grupo__img {
    width: 280px;
    animation-name: imgGrupo;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    transition: all 0.7s ease-out; }

@keyframes imgGrupo {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-5deg); } }

.grupo:hover .grupo__p {
  transform: translateY(0);
  opacity: 1; }

.grupo:hover img {
  width: 200px; }

/* FIN ASESORIA */
/* INICIO NOSOTRAS */
.nosotras {
  background-image: url(../img/backNaranja.png); }
  .nosotras__img {
    max-width: 350px;
    border-radius: 220px; }

.nosotras__info .nosotras__h2 {
  color: white;
  font-size: 35px; }

/* FIN NOSOTRAS */
/* INICIO TESTIMONIOS */
.testimonios__h2 {
  color: #6ec5b8; }

.testimonios__grupo-p {
  font-size: 16px;
  font-weight: 400;
  color: black; }

.testimonios__grupo-h3 {
  font-size: 18px;
  background-color: #6ec5b8;
  border-radius: 50px; }
  .testimonios__grupo-h3 .testimonios__grupo-badge {
    color: #ff9800;
    animation-name: bdg__testimonio;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    transition: none; }
  .testimonios__grupo-h3 .testimonios__grupo-badge:hover {
    color: #6ec5b8; }

@keyframes bdg__testimonio {
  from {
    transform: scale(1.1, 1.1); }
  to {
    transform: scale(1, 1); } }

.testimonios__grupo-img--1 {
  max-width: 120px;
  border-radius: 77% 23% 41% 59%/52% 49% 51% 48%; }

.testimonios__grupo-img--2 {
  max-width: 130px;
  border-radius: 46% 54% 46% 54%/76% 76% 24% 24%; }

.testimonios__grupo-img--3 {
  max-width: 130px;
  border-radius: 52% 48% 26% 74%/62% 65% 35% 38%; }

/* FIN TESTIMONIOS */
/* INICIO NEWSLETTER */
.news {
  background-image: url(../img/back.png); }
  .news__info .news__h2 {
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    animation-name: news;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-direction: none;
    transition: none; }

@keyframes news {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(1.2, 1.2); } }

.news__input {
  width: 400px; }

/* FIN NEWSLETTER */
