@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.title {
  letter-spacing: 1px;
  font-size: 35px;
  font-weight: bold; }

.publicacion, .preguntaBlw, .recomendaciones, .verPlanes, .valores, .blw, .nosotras, .news {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 200px; }

.preguntaBlw p, .beneficios ul, .recomendaciones p, .recomendaciones ul, .planes__p, .reservacion__p, .carolina p, .daiana p, .recetas__p, .contacto p, .blw__info .blw__p, .asesoria__p, .grupo__h3, .grupo__p, .nosotras__info .nosotras_p, .news__info .news__p {
  color: black;
  font-size: 18px; }

.news .news__button, .verPlanes a, .valores a, .plan__reserva .plan__reserva-a, .grid .grid__texto-a:hover, .botonPublicacion, .botonContacto .botonForm, .reservacion__envio, .modal__btn {
  background-color: #ff9800;
  color: white;
  font-weight: bold;
  letter-spacing: 2px; }

@media screen and (max-width: 576px) {
  /* INICIO INDEX */
  .header p {
    font-size: 12px !important; }
  .header img {
    width: 150px !important; }
  .menu a {
    font-size: 12px !important; }
  /* inicio blw*/
  .blw {
    flex-direction: column !important;
    border-radius: 100px;
    align-items: center; }
    .blw h1 {
      margin-right: 20px !important;
      font-size: 27px !important; }
    .blw img {
      width: 180px !important;
      padding-right: 0px !important; }
    .blw p {
      font-size: 12px !important;
      margin-right: 20px !important;
      margin-left: 0px !important; }
  .blw .blw__info {
    margin-left: 40px; }
  /* inicio asesoría */
  .asesoria {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px; }
    .asesoria h2 {
      font-size: 27px !important; }
    .asesoria p {
      font-size: 12px !important; }
  .grupo h3 {
    font-size: 12px !important; }
  .grupo p {
    transform: none;
    transition: none;
    font-size: 10px !important; }
  /* inicio nosotras */
  .nosotras {
    border-radius: 100px; }
    .nosotras img {
      width: 0px; }
    .nosotras .nosotras__info {
      padding-left: 0px !important;
      padding-right: 0px !important; }
      .nosotras .nosotras__info h2 {
        text-align: center;
        font-size: 27px; }
      .nosotras .nosotras__info p {
        font-size: 12px; }
  /* inicio testimonios */
  .testimonios {
    margin-top: 10px !important; }
    .testimonios h2 {
      font-size: 27px !important; }
  .testimonios__grupo p {
    font-size: 12px !important; }
  .testimonios__grupo h3 {
    font-size: 15px !important; }
  .testimonios__grupo img {
    width: 0px; }
  /* inicio newsletter */
  .news {
    flex-direction: column;
    border-radius: 130px !important;
    margin-right: 30px !important;
    margin-bottom: 0px !important;
    margin-left: 30px !important;
    padding-right: 0px !important;
    padding-bottom: 1px !important;
    padding-left: 0px !important; }
    .news__input {
      width: 95px !important;
      height: 20px;
      margin: 5px;
      font-size: 12px !important; }
    .news__info {
      padding-top: 10px !important;
      margin-top: 0px !important; }
      .news__info h2 {
        font-size: 24px !important; }
      .news__info p {
        font-size: 12px !important; }
  .news__btn {
    margin-top: 0px !important;
    margin-bottom: 5px !important; }
  .news button {
    font-size: 10px; }
  /* inicio breadcrumb */
  .migas {
    font-size: 0px;
    margin: 0px !important; }
  /* inicio foot */
  .foot {
    flex-direction: column-reverse; }
    .foot__list a {
      font-size: 14px !important; }
    .foot__list li {
      text-align: center !important; }
    .foot__icon {
      color: #ff9800; }
    .foot p {
      font-size: 12px;
      margin-left: 20px !important; }
  .footer {
    padding-bottom: 10px !important; }
  .logoFoot {
    width: 150px !important; }
  /* -------------inicio blw------------- */
  .preguntaBlw {
    flex-direction: column;
    border-radius: 150px;
    margin-left: 20px !important;
    margin-right: 20px !important;
    padding-bottom: 15px !important; }
    .preguntaBlw img {
      width: 180px !important;
      margin-left: 5px !important; }
    .preguntaBlw h1 {
      margin-top: 0px !important;
      font-size: 27px !important;
      text-align: center; }
    .preguntaBlw p {
      font-size: 12px !important;
      margin-left: 50px !important;
      margin-right: 50px !important;
      margin-bottom: 5px !important;
      text-align: center; }
  .blw__1 {
    display: none; }
  .beneficios h2 {
    font-size: 27px !important;
    margin-left: 50px !important; }
  .ulBeneficios {
    flex-direction: column; }
    .ulBeneficios li {
      font-size: 12px !important;
      margin-left: 20px !important; }
    .ulBeneficios video {
      width: 130px !important;
      margin-left: 150px !important; }
  .recomendaciones {
    border-radius: 90px;
    margin-right: 20px !important;
    margin-left: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important; }
    .recomendaciones img {
      display: none; }
    .recomendaciones h2 {
      font-size: 27px !important;
      text-align: center !important; }
    .recomendaciones p {
      font-size: 12px !important;
      text-align: center;
      padding-right: 0px !important; }
    .recomendaciones ul {
      font-size: 12px !important;
      margin-left: 10px !important; }
  .conclusion {
    font-size: 12px !important;
    margin: 5px 25px !important; }
  .verPlanes {
    flex-direction: column;
    border-radius: 80px;
    margin-right: 20px !important;
    margin-left: 20px !important;
    padding: 15px 20px !important; }
    .verPlanes p {
      font-size: 23px !important;
      margin-right: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      text-align: center; }
    .verPlanes a {
      font-size: 12px !important;
      margin-left: 60px !important; }
  /* ----------inicio nosotras------------ */
  .carolina {
    flex-direction: column;
    margin-right: 20px !important;
    margin-left: 20px !important; }
    .carolina h1 {
      font-size: 20px !important;
      margin-left: 50px !important;
      margin-right: 50px !important; }
    .carolina img {
      width: 200px !important; }
    .carolina p {
      font-size: 12px;
      margin-left: 20px !important;
      margin-right: 10px !important; }
  .daiana {
    flex-direction: column;
    margin-top: 0px !important;
    margin-right: 20px !important;
    margin-left: 20px !important; }
    .daiana h2 {
      font-size: 20px !important;
      margin-left: 100px !important;
      margin-right: 100px !important; }
    .daiana img {
      width: 200px !important; }
    .daiana p {
      font-size: 12px;
      margin-left: 20px !important;
      margin-right: 10px !important; }
  .valores {
    flex-direction: column;
    margin-right: 20px !important;
    margin-left: 20px !important; }
    .valores .valores__p {
      font-size: 20px !important;
      margin-right: 30px;
      margin-left: 30px; }
    .valores .valores__p2 {
      font-size: 13px !important; }
    .valores a {
      font-size: 12px !important;
      margin-top: 0px !important;
      margin-left: 50px !important; }
  /* ----------inicio asesorías------------ */
  .planes {
    border-radius: 100px; }
    .planes h1 {
      font-size: 27px; }
    .planes p {
      font-size: 12px; }
  .plan {
    grid-template-columns: 1fr !important;
    margin-right: 10px !important;
    margin-left: 10px !important; }
  .plan__carrot {
    margin-top: 0px !important; }
    .plan__carrot-h2 {
      font-size: 27px !important; }
    .plan__carrot-ul {
      font-size: 12px !important; }
    .plan__carrot-p {
      font-size: 12px !important; }
  .plan__carrot:hover {
    transform: none !important; }
  .reservacion h1 {
    font-size: 27px; }
  .reservacion p {
    font-size: 12px; }
  .reservacion__form input {
    font-size: 12px;
    padding: 10px; }
  .reservacion__form fieldset {
    font-size: 12px; }
  .reservacion__envio {
    font-size: 12px; }
  .modal .modal__titulo {
    font-size: 25px; }
  .modal .modal__texto {
    font-size: 12px; }
  .modal .modal__btn {
    font-size: 12px; }
  /* ----------inicio recetas------------ */
  .recetas h1 {
    font-size: 27px; }
  .recetas p {
    font-size: 12px; }
  .grid__h2 {
    font-size: 27px !important;
    margin-bottom: 10px !important;
    text-align: center; }
  .grid {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
    margin-top: 5px !important;
    margin-right: 10px !important;
    margin-left: 10px !important; }
    .grid__article {
      transition: none; }
      .grid__article:hover {
        transform: none !important; }
  .grid__texto h3 {
    font-size: 20px; }
  .grid__texto p {
    font-size: 12px; }
  .publicacion {
    border-radius: 80px !important; }
    .publicacion fieldset {
      padding: 20px !important; }
    .publicacion legend {
      font-size: 27px; }
  .datosPublicacion input {
    font-size: 12px !important;
    width: 100px; }
  .areaPublicacion textarea {
    font-size: 12px !important; }
  .checkPublicacion {
    font-size: 14px !important; }
  .botonPublicacion {
    font-size: 12px !important; }
  .volver {
    font-size: 12px !important; }
  .receta-1 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-2 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-3 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-4 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-5 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-6 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-7 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-8 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta__img {
    width: 300px !important; }
  .imagen7 {
    width: 300px !important; }
  .comidas__texto {
    flex-direction: column-reverse;
    font-size: 12px !important;
    margin-left: 10px !important;
    margin-right: 10px !important; }
    .comidas__texto ul {
      margin: 0px !important; }
  /* ----------inicio contacto------------ */
  .contacto {
    flex-direction: column;
    margin-right: 20px !important; }
    .contacto h1 {
      font-size: 27px !important;
      text-align: center !important;
      margin-top: 10px; }
    .contacto p {
      font-size: 12px;
      padding-left: 10px !important;
      padding-right: 10px !important;
      text-align: center; }
  .fieldset {
    width: 300px !important; }
  .botonContacto .botonForm {
    font-size: 12px; }
  /* ----------inicio condiciones------------ */
  .bg--uno {
    font-size: 25px !important; }
  .bg--dos {
    font-size: 25px !important; } }

@media screen and (max-width: 768px) {
  /* INICIO INDEX */
  .header p {
    font-size: 12px !important; }
  .header img {
    width: 150px !important; }
  .menu a {
    font-size: 12px !important; }
  /* inicio blw*/
  .blw {
    flex-direction: column !important;
    border-radius: 100px;
    align-items: center; }
    .blw h1 {
      margin-right: 20px !important;
      font-size: 27px !important; }
    .blw img {
      width: 180px !important;
      padding-right: 0px !important; }
    .blw p {
      font-size: 12px !important;
      margin-right: 20px !important;
      margin-left: 0px !important; }
  .blw .blw__info {
    margin-left: 40px; }
  /* inicio asesoría */
  .asesoria {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px; }
    .asesoria h2 {
      font-size: 27px !important; }
    .asesoria p {
      font-size: 12px !important; }
  .grupo h3 {
    font-size: 12px !important; }
  .grupo p {
    transform: none;
    transition: none;
    font-size: 10px !important; }
  /* inicio nosotras */
  .nosotras {
    border-radius: 100px; }
    .nosotras img {
      width: 0px; }
    .nosotras .nosotras__info {
      padding-left: 0px !important;
      padding-right: 0px !important; }
      .nosotras .nosotras__info h2 {
        text-align: center;
        font-size: 27px; }
      .nosotras .nosotras__info p {
        font-size: 12px; }
  /* inicio testimonios */
  .testimonios {
    margin-top: 10px !important; }
    .testimonios h2 {
      font-size: 27px !important; }
  .testimonios__grupo p {
    font-size: 12px !important; }
  .testimonios__grupo h3 {
    font-size: 15px !important; }
  .testimonios__grupo img {
    width: 0px; }
  /* inicio newsletter */
  .news {
    flex-direction: column;
    border-radius: 130px !important;
    margin-right: 30px !important;
    margin-bottom: 0px !important;
    margin-left: 30px !important;
    padding-right: 0px !important;
    padding-bottom: 1px !important;
    padding-left: 0px !important; }
    .news__input {
      width: 95px !important;
      height: 20px;
      margin: 5px;
      font-size: 12px !important; }
    .news__info {
      padding-top: 10px !important;
      margin-top: 0px !important; }
      .news__info h2 {
        font-size: 24px !important; }
      .news__info p {
        font-size: 12px !important; }
  .news__btn {
    margin-top: 0px !important;
    margin-bottom: 5px !important; }
  .news button {
    font-size: 10px; }
  /* inicio breadcrumb */
  .migas {
    font-size: 0px;
    margin: 0px !important; }
  /* inicio foot */
  .foot {
    flex-direction: column-reverse; }
    .foot__list a {
      font-size: 14px !important; }
    .foot__list li {
      text-align: center !important; }
    .foot__icon {
      color: #ff9800; }
    .foot p {
      font-size: 12px;
      margin-left: 20px !important; }
  .footer {
    padding-bottom: 10px !important; }
  .logoFoot {
    width: 150px !important; }
  /* -------------inicio blw------------- */
  .preguntaBlw {
    flex-direction: column;
    border-radius: 150px;
    margin-left: 20px !important;
    margin-right: 20px !important;
    padding-bottom: 15px !important; }
    .preguntaBlw img {
      width: 180px !important;
      margin-left: 5px !important; }
    .preguntaBlw h1 {
      margin-top: 0px !important;
      font-size: 27px !important;
      text-align: center; }
    .preguntaBlw p {
      font-size: 12px !important;
      margin-left: 50px !important;
      margin-right: 50px !important;
      margin-bottom: 5px !important;
      text-align: center; }
  .blw__1 {
    display: none; }
  .beneficios h2 {
    font-size: 27px !important;
    margin-left: 50px !important; }
  .ulBeneficios {
    flex-direction: column; }
    .ulBeneficios li {
      font-size: 12px !important;
      margin-left: 20px !important; }
    .ulBeneficios video {
      width: 130px !important;
      margin-left: 150px !important; }
  .recomendaciones {
    border-radius: 90px;
    margin-right: 20px !important;
    margin-left: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important; }
    .recomendaciones img {
      display: none; }
    .recomendaciones h2 {
      font-size: 27px !important;
      text-align: center !important; }
    .recomendaciones p {
      font-size: 12px !important;
      text-align: center;
      padding-right: 0px !important; }
    .recomendaciones ul {
      font-size: 12px !important;
      margin-left: 10px !important; }
  .conclusion {
    font-size: 12px !important;
    margin: 5px 25px !important; }
  .verPlanes {
    flex-direction: column;
    border-radius: 80px;
    margin-right: 20px !important;
    margin-left: 20px !important;
    padding: 15px 20px !important; }
    .verPlanes p {
      font-size: 23px !important;
      margin-right: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      text-align: center; }
    .verPlanes a {
      font-size: 12px !important;
      margin-left: 60px !important; }
  /* ----------inicio nosotras------------ */
  .carolina {
    flex-direction: column;
    margin-right: 20px !important;
    margin-left: 20px !important; }
    .carolina h1 {
      font-size: 20px !important;
      margin-left: 50px !important;
      margin-right: 50px !important; }
    .carolina img {
      width: 200px !important; }
    .carolina p {
      font-size: 12px;
      margin-left: 20px !important;
      margin-right: 10px !important; }
  .daiana {
    flex-direction: column;
    margin-top: 0px !important;
    margin-right: 20px !important;
    margin-left: 20px !important; }
    .daiana h2 {
      font-size: 20px !important;
      margin-left: 100px !important;
      margin-right: 100px !important; }
    .daiana img {
      width: 200px !important; }
    .daiana p {
      font-size: 12px;
      margin-left: 20px !important;
      margin-right: 10px !important; }
  .valores {
    flex-direction: column;
    margin-right: 20px !important;
    margin-left: 20px !important; }
    .valores .valores__p {
      font-size: 20px !important;
      margin-right: 30px;
      margin-left: 30px; }
    .valores .valores__p2 {
      font-size: 13px !important; }
    .valores a {
      font-size: 12px !important;
      margin-top: 0px !important;
      margin-left: 50px !important; }
  /* ----------inicio asesorías------------ */
  .planes {
    border-radius: 100px; }
    .planes h1 {
      font-size: 27px; }
    .planes p {
      font-size: 12px; }
  .plan {
    grid-template-columns: 1fr !important;
    margin-right: 10px !important;
    margin-left: 10px !important; }
  .plan__carrot {
    margin-top: 0px !important; }
    .plan__carrot-h2 {
      font-size: 27px !important; }
    .plan__carrot-ul {
      font-size: 12px !important; }
    .plan__carrot-p {
      font-size: 12px !important; }
  .plan__carrot:hover {
    transform: none !important; }
  .reservacion h1 {
    font-size: 27px; }
  .reservacion p {
    font-size: 12px; }
  .reservacion__form input {
    font-size: 12px;
    padding: 10px; }
  .reservacion__form fieldset {
    font-size: 12px; }
  .reservacion__envio {
    font-size: 12px; }
  .modal .modal__titulo {
    font-size: 25px; }
  .modal .modal__texto {
    font-size: 12px; }
  .modal .modal__btn {
    font-size: 12px; }
  /* ----------inicio recetas------------ */
  .recetas h1 {
    font-size: 27px; }
  .recetas p {
    font-size: 12px; }
  .grid__h2 {
    font-size: 27px !important;
    margin-bottom: 10px !important;
    text-align: center; }
  .grid {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
    margin-top: 5px !important;
    margin-right: 10px !important;
    margin-left: 10px !important; }
    .grid__article {
      transition: none; }
      .grid__article:hover {
        transform: none !important; }
  .grid__texto h3 {
    font-size: 20px; }
  .grid__texto p {
    font-size: 12px; }
  .publicacion {
    border-radius: 80px !important; }
    .publicacion fieldset {
      padding: 20px !important; }
    .publicacion legend {
      font-size: 27px; }
  .datosPublicacion input {
    font-size: 12px !important;
    width: 100px; }
  .areaPublicacion textarea {
    font-size: 12px !important; }
  .checkPublicacion {
    font-size: 14px !important; }
  .botonPublicacion {
    font-size: 12px !important; }
  .volver {
    font-size: 12px !important; }
  .receta-1 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-2 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-3 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-4 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-5 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-6 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-7 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta-8 {
    font-size: 25px !important;
    margin-top: 10px !important; }
  .receta__img {
    width: 300px !important; }
  .imagen7 {
    width: 300px !important; }
  .comidas__texto {
    flex-direction: column-reverse;
    font-size: 12px !important;
    margin-left: 10px !important;
    margin-right: 10px !important; }
    .comidas__texto ul {
      margin: 0px !important; }
  /* ----------inicio contacto------------ */
  .contacto {
    flex-direction: column;
    margin-right: 20px !important; }
    .contacto h1 {
      font-size: 27px !important;
      text-align: center !important;
      margin-top: 10px; }
    .contacto p {
      font-size: 12px;
      padding-left: 10px !important;
      padding-right: 10px !important;
      text-align: center; }
  .fieldset {
    width: 300px !important; }
  .botonContacto .botonForm {
    font-size: 12px; }
  /* ----------inicio condiciones------------ */
  .bg--uno {
    font-size: 25px !important; }
  .bg--dos {
    font-size: 25px !important; } }

@media screen and (max-width: 992px) {
  /* inicio blw*/
  .blw {
    flex-direction: column !important;
    border-radius: 100px;
    align-items: center; }
  .blw .blw__info {
    margin-left: 40px; }
  /* inicio asesoría */
  .asesoria {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px; }
  /* inicio nosotras */
  .nosotras {
    border-radius: 100px; }
    .nosotras img {
      width: 0px; }
    .nosotras .nosotras__info {
      padding-left: 0px !important;
      padding-right: 0px !important; }
      .nosotras .nosotras__info h2 {
        text-align: center; }
  /* inicio testimonios */
  .testimonios {
    margin-top: 10px !important; }
  /* inicio newsletter */
  .news {
    flex-direction: column;
    border-radius: 130px !important;
    margin-right: 30px !important;
    margin-bottom: 0px !important;
    margin-left: 30px !important;
    padding-right: 0px !important;
    padding-bottom: 1px !important;
    padding-left: 0px !important; }
    .news__input {
      width: 95px !important;
      height: 20px;
      margin: 5px; }
    .news__info {
      padding-top: 10px !important;
      margin-top: 0px !important; }
  .news__btn {
    margin-top: 0px !important;
    margin-bottom: 5px !important; }
  /* -------------inicio blw------------- */
  .preguntaBlw {
    flex-direction: column;
    border-radius: 150px;
    margin-left: 20px !important;
    margin-right: 20px !important;
    padding-bottom: 15px !important; }
    .preguntaBlw img {
      margin-left: 5px !important; }
    .preguntaBlw h1 {
      margin-top: 0px !important;
      text-align: center; }
    .preguntaBlw p {
      margin-left: 50px !important;
      margin-right: 50px !important;
      margin-bottom: 20px !important;
      text-align: center; }
  .beneficios h2 {
    margin-left: 50px !important; }
  .ulBeneficios {
    flex-direction: column; }
    .ulBeneficios li {
      margin-left: 20px !important; }
    .ulBeneficios video {
      margin-left: 150px !important; }
  .recomendaciones {
    border-radius: 90px; }
    .recomendaciones img {
      display: none; }
    .recomendaciones h2 {
      text-align: center !important; }
    .recomendaciones p {
      text-align: center; }
  .verPlanes {
    flex-direction: column;
    border-radius: 80px;
    margin-right: 20px !important;
    margin-left: 20px !important;
    padding: 15px 20px !important; }
    .verPlanes p {
      margin-right: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      text-align: center; }
    .verPlanes a {
      margin-left: 60px !important; }
  /* ----------inicio nosotras------------ */
  .carolina {
    flex-direction: column;
    margin-right: 20px !important;
    margin-left: 20px !important; }
    .carolina h1 {
      margin-left: 50px !important;
      margin-right: 50px !important; }
    .carolina p {
      margin-left: 20px !important;
      margin-right: 10px !important; }
  .daiana {
    flex-direction: column;
    margin-top: 0px !important;
    margin-right: 20px !important;
    margin-left: 20px !important; }
    .daiana h2 {
      margin-left: 100px !important;
      margin-right: 100px !important; }
    .daiana p {
      margin-left: 20px !important;
      margin-right: 10px !important; }
  .valores {
    flex-direction: column;
    margin-right: 20px !important;
    margin-left: 20px !important; }
    .valores .valores__p {
      margin-right: 30px;
      margin-left: 30px; }
    .valores a {
      margin-top: 0px !important;
      margin-left: 50px !important; }
  /* ----------inicio asesorías------------ */
  .planes {
    border-radius: 100px; }
  .plan {
    margin-right: 10px !important;
    margin-left: 10px !important; }
  .plan__carrot {
    margin-top: 0px !important; }
  .plan__carrot:hover {
    transform: none !important; }
  .reservacion__form input {
    padding: 10px; }
  /* ----------inicio recetas------------ */
  .grid__h2 {
    margin-bottom: 10px !important;
    text-align: center; }
  .grid {
    margin-top: 5px !important;
    margin-right: 10px !important;
    margin-left: 10px !important; }
    .grid__article {
      transition: none; }
      .grid__article:hover {
        transform: none !important; }
  .publicacion {
    border-radius: 80px !important; }
    .publicacion fieldset {
      padding: 20px !important; }
  .datosPublicacion input {
    width: 100px; }
  .receta-1 {
    margin-top: 10px !important; }
  .receta-2 {
    margin-top: 10px !important; }
  .receta-3 {
    margin-top: 10px !important; }
  .receta-4 {
    margin-top: 10px !important; }
  .receta-5 {
    margin-top: 10px !important; }
  .receta-6 {
    margin-top: 10px !important; }
  .receta-7 {
    margin-top: 10px !important; }
  .receta-8 {
    margin-top: 10px !important; }
  .comidas__texto {
    flex-direction: column-reverse;
    margin-left: 10px !important;
    margin-right: 10px !important; }
    .comidas__texto ul {
      margin: 0px !important; }
  /* ----------inicio contacto------------ */
  .contacto {
    flex-direction: column;
    margin-right: 20px !important; }
    .contacto h1 {
      text-align: center !important;
      margin-top: 10px; }
    .contacto p {
      padding-left: 10px !important;
      padding-right: 10px !important;
      text-align: center; } }

/* asesoria llamado a planes */
.asesoria__boton {
  font-size: 14px;
  letter-spacing: 2px;
  background-color: #6ec5b8;
  color: white;
  border-radius: 20px;
  animation-name: btn__asesoria;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  transition: all 0.5s ease-out; }
  .asesoria__boton::after {
    position: absolute;
    margin-left: -30px;
    right: 1px;
    content: " ";
    background-color: #6ec5b8;
    width: 100%;
    height: 100%;
    filter: blur(28px);
    z-index: -1; }
  .asesoria__boton:hover {
    background-color: #ff9800; }

@keyframes btn__asesoria {
  from {
    transform: scale(1.1, 1.1); }
  to {
    transform: scale(1, 1); } }

/* newsletter */
.news .news__button {
  border: none;
  transition: all 0.5s ease-out; }

.news .news__button:hover {
  transform: scale(1.2, 1.2);
  border: none; }

/* llamado a planes */
.verPlanes a {
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  transition: all 0.5s ease-out; }

.verPlanes .botonVer {
  transition: all 0.5s ease-out; }

.verPlanes .botonVer:hover {
  transform: scale(1.2, 1.2); }

/* llamado a contacto */
.valores a {
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
  transition: all 0.5s ease-out; }
  .valores a:hover {
    transform: scale(1.2, 1.2); }

/* planes */
.plan__reserva {
  list-style-type: none;
  transition: all 0.5s ease-out; }
  .plan__reserva .plan__reserva-a {
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    transition: all 0.5s ease-out; }

.plan__reserva:hover {
  transform: scale(1.1, 1.1); }
  .plan__reserva:hover-a:hover {
    background-color: #6ec5b8; }

/* recetas */
.grid__texto .grid__texto-a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-weight: 400;
  padding: 5px;
  transition: all 0.5s ease-out; }

.grid .grid__texto-a:hover {
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 20px; }

.grid .grid__texto-a--meriendas:hover {
  background-color: #6ec5b8; }

.botonPublicacion {
  font-size: 14px;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease-out; }
  .botonPublicacion:hover {
    transform: scale(1.1, 1.1); }

/* contacto */
.botonContacto .botonForm {
  border: none;
  border-radius: 15px;
  transition: all 0.5s ease-out; }

.botonForm:hover {
  transform: scale(1.2, 1.2); }

/* reservación */
.reservacion__envio {
  border: none;
  transition: all 0.5s ease-out; }
  .reservacion__envio:hover {
    transform: scale(1.2, 1.2); }

.volver {
  font-size: 14px;
  text-decoration: none;
  border-radius: 15px;
  background-color: #6ec5b8;
  letter-spacing: 1px; }

.modal__btn:hover {
  background-color: #6ec5b8;
  color: white; }

.logo {
  width: 220px; }

.menu {
  background-color: #ff9800; }
  .menu a {
    color: white !important;
    font-size: 16px;
    letter-spacing: 2px;
    margin-right: 15px;
    transition: all 0.4s ease-out; }
    .menu a:hover {
      background-color: #6ec5b8;
      background-size: cover; }

.hr {
  opacity: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 10px !important;
  color: #ff9800; }

/* INICIO FOOTER */
.foot__list a {
  font-size: 16px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px; }

.foot__icon {
  color: #ff9800; }

.logoFoot {
  width: 180px; }

/* FIN FOOTER */
/* recetas */
.publicacion {
  background-image: url(../img/back.png);
  border-radius: 200px; }
  .publicacion fieldset {
    padding: 30px 80px 40px 80px;
    border: none; }
  .publicacion legend {
    color: white;
    font-size: 30px; }

.datosPublicacion {
  display: flex; }
  .datosPublicacion input {
    font-size: 16px;
    border: none;
    border-radius: 5px; }

.areaPublicacion textarea {
  width: 100%;
  font-size: 16px;
  color: gray;
  border: none;
  border-radius: 5px; }

.checkPublicacion {
  font-size: 16px;
  color: black; }

/* contacto */
.fieldset {
  background-image: url(../img/back.png);
  border-radius: 20px;
  width: 380px;
  margin: auto;
  border: none; }
  .fieldset .formulario .tamaño {
    width: 100%;
    font-size: 14px;
    color: gray;
    border: none;
    border-radius: 5px; }

.new {
  font-size: 12px;
  color: black; }

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-items: center; }
  .grid__article {
    background: #6ec5b8;
    border: none;
    border-radius: 20px;
    width: 250px;
    transition: all 0.5s ease-out; }
    .grid__article:hover {
      transform: scale(1.2, 1.2); }
  .grid__img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }

.grid__article--meriendas {
  background-color: #ff9800 !important;
  border: none;
  border-radius: 20px;
  width: 250px; }
  .grid__article--meriendas div a:hover {
    background-color: #6ec5b8;
    border-radius: 20px; }

.grid__texto-a {
  text-decoration: none;
  font-size: 14px;
  color: white; }

.grid div a:hover {
  background-color: #ff9800;
  border-radius: 20px; }

.preguntaBlw {
  background-color: #6ec5b8; }
  .preguntaBlw img {
    max-width: 400px;
    border-radius: 27% 73% 66% 34%/52% 39% 61% 48%; }
  .preguntaBlw h1 {
    color: white;
    font-size: 35px; }
  .preguntaBlw p {
    margin-right: 70px; }

.beneficios h2 {
  color: #ff9800;
  font-size: 35px; }

.beneficios ul li {
  margin-left: 200px; }

.ulBeneficios video {
  width: 210px;
  margin-right: 120px;
  border-radius: 140px; }

.recomendaciones {
  margin-right: 100px;
  font-size: 18px;
  background-image: url(../img/backNaranja.png); }
  .recomendaciones img {
    max-width: 300px;
    border-radius: 27% 73% 66% 34%/52% 39% 61% 48%; }
  .recomendaciones h2 {
    color: white;
    font-size: 35px; }

.conclusion {
  color: black;
  font-size: 19px;
  margin-right: 120px;
  margin-left: 150px; }

.verPlanes {
  background-image: url(../img/back.png); }
  .verPlanes p {
    color: white;
    font-size: 35px;
    animation-name: ver;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    animation-timing-function: ease-in;
    animation-direction: none;
    transition: none; }

@keyframes ver {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(1.1, 1.1); } }

.planes {
  background-image: url(../img/back.png);
  border-radius: 200px; }
  .planes__h1 {
    color: white;
    font-size: 35px; }

.plan {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-items: center; }

.plan__carrot {
  background-color: #6ec5b8;
  border-radius: 80px;
  margin-top: 30px;
  transition: all 0.5s ease-out; }
  .plan__carrot-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
  .plan__carrot-h2 {
    color: white; }
  .plan__carrot-ul {
    font-size: 16px;
    color: black;
    padding: 5px 0px 0px 40px; }
    .plan__carrot-ul li {
      padding-bottom: 0px;
      padding-right: 10px; }
  .plan__carrot-p {
    color: white;
    font-size: 18px;
    letter-spacing: 2px; }

.plan__carrot:hover {
  transform: scale(1.1, 1.1);
  background-color: #ff9800; }
  .plan__carrot:hover .plan__reserva-a {
    background-color: #6ec5b8; }

.modal__titulo {
  color: #ff9800; }

.reservacion {
  background-color: #6ec5b8;
  border-radius: 200px; }
  .reservacion__h1 {
    color: white;
    font-size: 35px; }

.carolina img {
  max-width: 300px;
  border-radius: 27% 73% 66% 34%/52% 39% 61% 48%;
  height: auto;
  background-color: #6ec5b8; }

.carolina h1 {
  color: white;
  font-size: 30px;
  background-color: #6ec5b8;
  border-radius: 20px;
  margin: 5px 250px; }

.carolina p {
  margin-left: 30px; }

.daiana img {
  max-width: 350px;
  border-radius: 59% 41% 41% 59%/53% 47% 53% 47%;
  height: auto;
  background-color: #ff9800; }

.daiana h2 {
  color: white;
  font-size: 30px;
  background-color: #ff9800;
  border-radius: 20px;
  margin: 5px 200px; }

.valores {
  background-image: url(../img/back.png); }
  .valores__p {
    color: white;
    font-size: 30px;
    animation-name: valor;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    animation-timing-function: ease-in;
    animation-direction: none;
    transition: none; }
  .valores__p2 {
    color: black;
    font-size: 20px; }

@keyframes valor {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(1.1, 1.1); } }

.recetas {
  background-image: url(../img/back.png);
  border-radius: 200px; }
  .recetas__h1 {
    color: white;
    font-size: 35px; }

.grid__h2 {
  color: #ff9800;
  font-size: 35px; }
  .grid__h2--meriendas {
    color: #6ec5b8;
    font-size: 35px; }

.receta-1 {
  background-color: #6ec5b8;
  color: white;
  border-radius: 200px; }

.receta-2 {
  background-color: #6ec5b8;
  color: white;
  border-radius: 200px; }

.receta-3 {
  background-color: #6ec5b8;
  color: white;
  border-radius: 200px; }

.receta-4 {
  background-color: #6ec5b8;
  color: white;
  border-radius: 200px; }

.receta-5 {
  background-color: #ff9800;
  color: white;
  border-radius: 200px; }

.receta-6 {
  background-color: #ff9800;
  color: white;
  border-radius: 200px; }

.receta-7 {
  background-color: #ff9800;
  color: white;
  border-radius: 200px; }

.receta-8 {
  background-color: #ff9800;
  color: white;
  border-radius: 200px; }

.imagen7 {
  width: 1500px; }

.bg--uno {
  background-color: #6ec5b8;
  background-color: none;
  color: white;
  border-radius: 200px; }

.bg--dos {
  background-color: #ff9800;
  background-color: none;
  color: white;
  border-radius: 200px; }

.contacto {
  margin-right: 200px; }
  .contacto h1 {
    color: #6ec5b8;
    font-size: 35px; }

.redesContacto {
  font-size: 45px; }

body {
  font-family: "Montserrat"; }

/* INICIO BLW */
.blw {
  background-image: url(../img/backAzul.png); }
  .blw__img {
    max-width: 400px;
    border-radius: 200px; }

.blw__info {
  margin-left: 120px; }
  .blw__info .blw__h1 {
    color: white;
    font-size: 50px; }

/* FIN BLW */
/* INICIO ASESORIA */
.asesoria {
  margin-bottom: -40px; }
  .asesoria__h2 {
    color: #ff9800;
    font-size: 35px; }
  .asesoria__a {
    text-decoration: none; }

.grupo {
  overflow: hidden; }
  .grupo__p {
    font-size: 16px; }
  .grupo__img {
    width: 280px;
    animation-name: imgGrupo;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    transition: all 0.7s ease-out; }

@keyframes imgGrupo {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-5deg); } }

/* FIN ASESORIA */
/* INICIO NOSOTRAS */
.nosotras {
  background-image: url(../img/backNaranja.png); }
  .nosotras__img {
    max-width: 350px;
    border-radius: 220px; }

.nosotras__info .nosotras__h2 {
  color: white;
  font-size: 35px; }

/* FIN NOSOTRAS */
/* INICIO TESTIMONIOS */
.testimonios__h2 {
  color: #6ec5b8; }

.testimonios__grupo-p {
  font-size: 16px;
  font-weight: 400;
  color: black; }

.testimonios__grupo-h3 {
  font-size: 18px;
  background-color: #6ec5b8;
  border-radius: 50px; }
  .testimonios__grupo-h3 .testimonios__grupo-badge {
    color: #ff9800;
    animation-name: bdg__testimonio;
    animation-iteration-count: infinite;
    animation-duration: 1.8s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    transition: none; }
  .testimonios__grupo-h3 .testimonios__grupo-badge:hover {
    color: #6ec5b8; }

@keyframes bdg__testimonio {
  from {
    transform: scale(1.1, 1.1); }
  to {
    transform: scale(1, 1); } }

.testimonios__grupo-img--1 {
  max-width: 120px;
  border-radius: 77% 23% 41% 59%/52% 49% 51% 48%; }

.testimonios__grupo-img--2 {
  max-width: 130px;
  border-radius: 46% 54% 46% 54%/76% 76% 24% 24%; }

.testimonios__grupo-img--3 {
  max-width: 130px;
  border-radius: 52% 48% 26% 74%/62% 65% 35% 38%; }

/* FIN TESTIMONIOS */
/* INICIO NEWSLETTER */
.news {
  background-image: url(../img/back.png); }
  .news__info .news__h2 {
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    animation-name: news;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-direction: none;
    transition: none; }

@keyframes news {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(1.2, 1.2); } }

.news__input {
  width: 400px; }

/* FIN NEWSLETTER */
