@import "./variables"; 

%style-bg{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $bordes;
}

%style-parrafo{
    color: $negro;
    font-size: $size-parrafo;
}

%style-button{
    background-color: $naranja;
    color: $blanco;
    font-weight: bold;
    letter-spacing: 2px;
}