@media screen and (max-width: 576px){

    /* inicio header */

    .logo{
        width: 200px;
    }


    /* fin header */

    /* inicio blw*/


    .blw{
        flex-direction: column !important;
        border-radius: 0px;
        align-items: center;
    }

    
    .blw__info img{
        width: 400px;
        padding-right: 0px;
        
    }

    /* fin blw */

    /* inicio asesoría */


    .asesoria__h2{
        font-size: 30px;
    }

    .asesoria{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        &__p{
            font-size: 14px;
        }
    }
 
    .grupo{
        h3{
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
    }


    /* fin asesoría */

    /* inicio nosotras */

    .nosotras{
        flex-direction: column;
        border-radius: 0px;
        align-items: center;
        margin: 0px !important;
        &__info{
            margin-left: 5px;
            margin-right: 5px;
        }            
        &__img{
            max-width: 150px;
            margin-left: 100px;
        }
    }


    /* fin nosotras */

    /* inicio newsletter */

    .news{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px !important;
        &__input{
            width: 200px !important;
        }
    }

    /* fin newsletter */

    /* inicio footer */

    .accordion{
        width: 200px;
        &-item{
            button{
                font-size: 12px;
                        
            }
        }
        ul{
            font-size: 12px;
            
        }
    }
    
       
    .logoFoot{
        width: 100px;
    }
    /* fin footer */

    /* -------------inicio blw------------- */

    .preguntaBlw{
        flex-direction: column;
        border-radius: 0px;
        align-items: center;
        margin: 0px;
        img{
            width: 300px;
        }
    }


    .recomendaciones{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
        padding-right: 20px;
        img{
            width: 250px;
                
        }
        h2{
            text-align: center;
        }
        p{
            padding-left: 30px;
        }
    }

    .conclusion{
        margin: 5px 20px;
        p{
            padding: 15px;
        }
        
    }

    .verPlanes{
        flex-direction: column;
        margin: 0px;
        border-radius: 0px;
    }

    /* ------------fin blw--------- */

    /* ----------inicio nosotras------------ */

    .carolina{
        flex-direction: column;
    }

    .daiana{
        flex-direction: column;
    }

    .valores{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
    }

    /* ----------fin nosotras------------ */


    /* ----------inicio contacto------------ */


    .contacto{
        flex-direction: column;
    }

    /* ----------fin contacto------------ */
}


@media screen and (max-width: 768px){

    .logo{
        width: 200px;
    }


    /* fin header */

    /* inicio blw*/


    .blw{
        flex-direction: column !important;
        border-radius: 0px;
        align-items: center;
    }


    /* fin blw */

    /* inicio asesoría */


    .asesoria{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;

    }
 
    .grupo{
        h3{
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
    }


    /* fin asesoría */

    /* inicio nosotras */

    .carolina{
        flex-direction: column;
        p{
            margin-left: 100px !important;
            margin-right: 80px !important;
        }
    }

    .daiana{
        flex-direction: column;
        p{
            margin-left: 30px !important;
            margin-right: 20px !important;
        }
    }

    .valores{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
        a{
            margin-left: 50px !important;
        }
    }

    /* fin nosotras */

    /* inicio testimonios */

    .testimonios__h2{
        font-size: 20px;
    }

    /* fin testimonios */

    /* inicio newsletter */

    .news{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px !important;
        &__input{
            width: 200px !important;
        }
    }

    /* fin newsletter */


    /* -------------inicio blw------------- */

    .preguntaBlw{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
    }


    .ulBeneficios{
        flex-direction: column;
        li{
            font-size: 16px;
            margin-left: 50px !important;
        }
        video{
            width: 180px;
            margin-left: 150px !important;
        
        }
    }

    .recomendaciones{
        flex-direction: column;
        border-radius: 0px !important;
        margin: 0px;
    }

    .conclusion{
        margin: 5px 30px !important;
    }

    .verPlanes{
        flex-direction: column;
        margin: 0px;
        border-radius: 0px;
        padding: 60px;
        a{
            margin-left: 80px !important;
        }
    }


    /* ------------fin blw--------- */

    /* ----------inicio nosotras------------ */

    .carolina{
        flex-direction: column;
        p{
            margin-left: 100px !important;
            margin-right: 80px !important;
        }
    }

    .daiana{
        flex-direction: column;
        p{
            margin-left: 30px !important;
            margin-right: 20px !important;
        }
    }

    .valores{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
        a{
            margin-left: 50px !important;
        }
    }

    /* ----------fin nosotras------------ */

    /* ----------inicio contacto------------ */


    .contacto{
        flex-direction: column;
        justify-content: center;
        margin-right: 20px !important;    
    }

    
    /* ----------fin contacto------------ */


}


@media screen and (max-width: 992px){

    
    /* inicio blw*/


    .blw{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px !important;
    }

    /* fin blw */


    /* inicio nosotras */

    .nosotras{
        margin: 0px !important;
    }

    /* fin nosotras */

    
    /* inicio newsletter */

    .news{
        margin: 0px !important;
        &__input{
            width: 250px !important;
        }
    }

    
    /* fin newsletter */

    

    /* -------------inicio blw------------- */

    .preguntaBlw{
        flex-direction: column;
        margin: 0px;
        padding-bottom: 20px;
        h1{
            text-align: center;
        }
        p{
            text-align: center;
            margin-left: 50px !important;
        }
    }


    .beneficios{
        margin: 0px;
    }

    .ulBeneficios{
        flex-direction: column;
        li{
            margin-left: 50px !important;
        }
        video{
            width: 180px;
            margin-left: 150px !important;
        
        }
    }

    .recomendaciones{
       border-radius: 80px;
    }
   
    .verPlanes{
        flex-direction: column;
        p{
            text-align: center;
            margin-right: 40px !important;
        }
        a{
            margin-left: 60px;
        }
    }


    /* ------------fin blw--------- */

    /* ----------inicio nosotras------------ */

    .carolina{
        flex-direction: column;
    }

    .daiana{
        flex-direction: column;
    }

    .valores{
        flex-direction: column;
        a{
            margin-left: 50px !important;
        }
    }

    /* ----------fin nosotras------------ */

    /* ----------inicio contacto------------ */

    
    .contacto{
        flex-direction: column;
        justify-content: center;
        margin-right: 20px !important;   
    }

    
    /* ----------fin contacto------------ */

}
