@media screen and (max-width: 576px){

    /* inicio header */

    .logo{
        width: 200px;
    }


    .menu div ul li a{
        font-size: 12px;
        
    }

    /* fin header */

    /* inicio blw*/


    .blw{
        flex-direction: column !important;
        border-radius: 0px;
        margin: 0px !important;
        &__info{
            margin-left: 0px;
            margin-right: 0px;
        }
        &__h1{
            font-size: 20px;
            
        }
        &__p{
            font-size: 14px;
            
        }
    }

    
    .blw__info img{
        width: 400px;
        padding-right: 0px;
        
    }

    /* fin blw */

    /* inicio asesoría */


    .asesoria__h2{
        font-size: 30px;
    }

    .asesoria{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        &__p{
            font-size: 14px;
        }
    }
 
    .grupo{
        h3{
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
    }


    /* fin asesoría */

    /* inicio nosotras */

    .nosotras{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px !important;
        &__info{
            margin-left: 5px;
            margin-right: 5px;
        }
        &__h2{
            font-size: 20px;
            
        }
        &__p{
            font-size: 14px;
            
        }
        &__img{
            max-width: 150px;
            margin-left: 100px;
        }
    }


    /* fin nosotras */

    /* inicio testimonios */

    .testimonios__h2{
        font-size: 20px;
    }


    .testimonios__grupo{
        &-h3{
        font-size: 14px;
        }
        &-p{
            font-size: 14px;
        }
        &-img{
            width: 80px;
        }
    }

    /* fin testimonios */

    /* inicio newsletter */

    .news{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px !important;
    }

    .news__info{
        &__h2{
        font-size: 20px;
        }
        &__p{
            font-size: 14px;
        }
        &__input{
            width: 200px;
            font-size: 12px;
        }
    }

    /* fin newsletter */

    /* inicio footer */

    .accordion{
        width: 200px;
        &-item{
            button{
                font-size: 12px;
                        
            }
        }
        ul{
            font-size: 12px;
            
        }
    }
      
    .redesFoot{
        font-size: 18px;
        
    }
    
       
    .logoFoot{
        width: 100px;
    }
    /* fin footer */

    /* -------------inicio blw------------- */

    .preguntaBlw{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
        padding-bottom: 20px;
        img{
            width: 300px;
        
        }
        h1{
            font-size: 20px;
            text-align: center;
        }
        p{
            font-size: 14px;
            margin-left: 30px;
            margin-right: 20px;
            margin-bottom: 0px;
        }
    }


    .beneficios{
        margin: 0px;
        h2{
            font-size: 20px;
            text-align: center;
            padding-top: 20px;
        }
        ul{
        flex-direction: column;
        font-size: 14px;
            li{
                font-size: 14px;
                padding-right: 5px;
                margin-left: 20px;
            }
        }
    }


    .ulBeneficios video{
        width: 180px;
        margin-right: 20px;
    
    }

    .recomendaciones{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
        padding-right: 20px;
        img{
            width: 300px;
                
        }
        h2{
            font-size: 20px;
            text-align: center;
        }
        p{
            font-size: 14px;
            padding-left: 30px;
        }
        ul{
            font-size: 14px;
        }
    }

    .conclusion{
        margin: 5px 20px;
        p{
            font-size: 14px;
            padding: 15px;
        }
        
    }

    .verPlanes{
        flex-direction: column;
        margin: 0px;
        border-radius: 0px;
        padding: 60px;
        p{
            text-align: center;
            
        }
    }

    /* ------------fin blw--------- */

    /* ----------inicio nosotras------------ */

    .carolina{
        flex-direction: column;
        margin: 10px 20px 5px 50px;
        img{
            width: 200px;
            border-radius: 150px;
            
        }
        h1{
            font-size: 20px;
            text-align: center;
            padding: 10px;
        }
        p{
            font-size: 14px;
            margin-right: 50px;
        }
    }

    .daiana{
        flex-direction: column;
        img{
            width: 200px;
            border-radius: 150px;
        }
        h2{
            font-size: 20px;
            text-align: center;
            padding: 10px;
        }
        p{
            font-size: 14px;
            margin: 10px 10px;
        }
    }

    .valores{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
        h2{
            font-size: 20px;
            margin: 0px;
            text-align: center;
        
        }
        p{
            text-align: center;
            
        }
        &__p{
            font-size: 20px;
        }
        &__p2{
            font-size: 14px;
        }

    }


    .valores{ 
        a{
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-right: 0px;
        }
        a:hover{
            transform: scale(1.2, 1.2);
        }
    }

    /* ----------fin nosotras------------ */

    /* ----------inicio asesorías------------ */

    .planes{
        &__h1{
        font-size: 20px;
        text-align: center;
        }
        &__p{
            font-size: 14px;
            text-align: center;
        }
    }

    /* ----------fin asesorías------------ */


    /* ------------inicio recetas--------- */

    .recetas{
        &__h1{
            font-size: 20px;
        }
        &__p{
            font-size: 14px;
        }
    }
    
    .grid__h2{
        font-size: 20px;
        text-align: center;
    }

    .grid{
        grid-template-columns: 1fr 1fr;
        margin-left: 20px;
        &__texto-h3{
            font-size: 20px;
        }
        &__texto-p{
            font-size: 14px;
        }
    }

    .publicacion{
        border-radius: 0px;
        margin: 0px;
        fieldset{
            padding: 30px 80px 40px 80px;
            border: none;
        }
        legend{
            font-size: 20px;
        }
    }

    .datosPublicacion{
        input{
        font-size: 14px;
        }
    }

    .areaPublicacion {
        textarea{
        font-size: 14px;
        }
    }

    .checkPublicacion{
        font-size: 14px;
    }

    /* ------------fin recetas--------- */

    /* ----------inicio contacto------------ */

    .contacto 

    .contacto{
        flex-direction: column;
        margin: 50px 20px 50px 40px;
        h1{
            font-size: 20px;
        }
        p{
            font-size: 14px;
            padding: 10px 0px 5px 20px;
            
        }
    }

    
    /* ----------fin contacto------------ */


}


@media screen and (max-width: 768px){

    .logo{
        width: 200px;
        display: flex;
        justify-content: center;
    }

    .login{
        flex-direction: column;
        margin-right: 120px;
    }

    .login__registro{
        font-size: 10px;
        border-radius: 10px;
        padding: 2px;
        margin-bottom: 5px;
    }


    .login__input{
        width: 100px;
        height: 15px;
        font-size: 10px;
        border-radius: 10px;
    }


    .menu div ul li a{
        font-size: 12px;
        
    }

    /* fin header */

    /* inicio blw*/


    .blw{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px !important;
    }

    .blw__info{
        margin-left: 0px;
        margin-right: 0px;
    }

    .blw__h1{
        font-size: 20px;
        
    }

    .blw__p{
        font-size: 14px;
        
    }

    .blw__info img{
        width: 400px;
        padding-right: 0px;
        
    }

    /* fin blw */

    /* inicio asesoría */


    .asesoria__h2{
        font-size: 30px;
    }

    .asesoria{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .asesoria__p{
        font-size: 16px;
    }


    .grupo__h3{
        font-size: 16px;
    }

    .grupo__p{
        font-size: 16px;
    }

    /* fin asesoría */

    /* inicio nosotras */

    .nosotras{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px !important;
    }

    .nosotras__info{
        margin-left: 5px;
        margin-right: 5px;
    }

    .nosotras__h2{
        font-size: 20px;
        
    }

    .nosotras__p{
        font-size: 14px;
        
    }

    .nosotras__img{
        max-width: 150px;
        margin-left: 100px;
    }

    /* fin nosotras */

    /* inicio testimonios */

    .testimonios__h2{
        font-size: 20px;
    }


    .testimonios__grupo h3{
        font-size: 14px;
    
    }

    .testimonios__grupo p{
        font-size: 14px;
        
    }

    .testimonios__grupo img{
        width: 80px;
    }


    /* fin testimonios */

    /* inicio newsletter */

    .news{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px !important;
    }

    .news__info h2{
        font-size: 30px;
        
    }

    .news__info p{
        font-size: 16px;
    }

    .news__input{
        width: 200px;
        font-size: 12px;
    }

    /* fin newsletter */

    /* inicio footer */

    .accordion{
        width: 200px;
        
    }
    
    .accordion-item button{
        font-size: 12px;
                
    }

    
    .accordion ul{
        font-size: 12px;
        
    }
    
       
    .redesFoot{
        font-size: 18px;
        
    }
    
       
    .logoFoot{
        width: 100px;
    }
    /* fin footer */

    /* -------------inicio blw------------- */

    .preguntaBlw{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
        padding-bottom: 20px;
    }

    .preguntaBlw img{
        width: 300px;
    
    }

    .preguntaBlw h1{
        font-size: 30px;
        text-align: center;
    }

    .preguntaBlw p{
        font-size: 16px;
        margin-left: 30px;
        margin-right: 20px;
        margin-bottom: 0px;
    }


    .beneficios{
        margin: 0px;
        
    }

    .beneficios h2{
        font-size: 30px;
        text-align: center;
        padding-top: 20px;
    }

    .ulBeneficios{
        flex-direction: column;
        font-size: 16px;
    }

    .ulBeneficios li{
        font-size: 16px;
        padding-right: 5px;
        margin-left: 20px;
    }

    .ulBeneficios video{
        width: 180px;
        margin-right: 20px;
    
    }

    .recomendaciones{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
        padding-right: 20px;
        
    }

    .recomendaciones img{
        width: 300px;
            
    }

    .recomendaciones h2{
        font-size: 30px;
        text-align: center;
    }

    .recomendaciones p{
        font-size: 16px;
        padding-left: 30px;
    }

    .recomendaciones ul{
        font-size: 16px;
    }


    .conclusion{
        margin: 5px 20px;
        
        
    }

    .conclusion p{
        font-size: 16px;
        padding: 15px;
    }

    .verPlanes{
        flex-direction: column;
        margin: 0px;
        border-radius: 0px;
        padding: 60px;
    }

    .verPlanes p{
        text-align: center;
        
    }


    /* ------------fin blw--------- */

    /* ----------inicio nosotras------------ */

    .carolina{
        flex-direction: column;
        margin: 10px 20px 5px 50px;
        
    }

    .carolina img{
        width: 200px;
        border-radius: 150px;
        
    }

    .carolina h1{
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }

    .carolina p{
        font-size: 16px;
        margin-right: 50px;
    }

    .daiana{
        flex-direction: column;
    }

    .daiana img{
        width: 200px;
        border-radius: 150px;
        
    }

    .daiana h2{
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }

    .daiana p{
        font-size: 16px;
        margin: 10px 10px;
    }

    .valores{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
    }

    .valores h2{
        font-size: 30px;
        margin: 0px;
        text-align: center;
    
    }

    .valores p{
        text-align: center;
        
    }

    .valores .valores__p{
        font-size: 30px;
    }

    .valores .valores__p2{
        font-size: 16px;
    }

    
    /* ----------fin nosotras------------ */

    /* ----------inicio asesorías------------ */

    .planes__h1{
        font-size: 30px;
        text-align: center;
        
    }

    .planes__p{
        font-size: 16px;
        text-align: center;
    }

    .plan__bronze{
        flex-direction: column;
        font-size: 16px;
        
    }


    .plan__bronze img{
        width: 500px;
        
    }


      
    .plan__bronze ul{
        padding: 5px 0px 5px 50px;
        

    }

    
    .plan__reserva{
        text-align: center;
    }

    
    .plan__silver{
        flex-direction: column;
        font-size: 16px;
    }


    .plan__silver img{
        width: 500px;
      
    }

    
    .plan__silver h3{
        text-align: center;
        margin: 10px;
        
    }

    .plan__silver ul{
        padding: 5px 0px 5px 50px;
        
    }

    .plan__silver ul li{
        margin-right: 10px;
            
    }

    .plan__gold{
        flex-direction: column;
        font-size: 16px;
    }



    .plan__gold img{
        width: 500px;
       
        
    }

    
    

    .plan__gold ul{
        padding: 5px 0px 5px 50px;
        

    }

    .plan__premium{
        flex-direction: column;
        font-size: 16px;
    }


    .plan__premium img{
        width: 500px;
        
        
    }


    .plan__premium ul{
        padding: 5px 10px 5px 50px;
        
    }

    .plan__premium ul li{
        margin-right: 10px;
    }
    /* ----------fin asesorías------------ */


    /* ------------inicio recetas--------- */

    .recetas__h1{
        font-size: 30px;
    }

    .recetas__p{
        font-size: 16px;
    }

    .grid__h2{
        font-size: 30px;
        text-align: center;
    }

    .grid{
        grid-template-columns: 1fr 1fr;
        margin-left: 20px;
    
    }

    .grid__texto-h3{
        font-size: 30px;
    }

    .grid__texto-p{
        font-size: 16px;
    }

    .publicacion{
        border-radius: 0px;
        margin: 0px;
        
    }

    .publicacion fieldset{
        padding: 30px 80px 40px 80px;
        border: none;

    }

    .publicacion legend{
        font-size: 20px;
        
    }

    .datosPublicacion input{
        font-size: 16px;
        
    }

    .areaPublicacion textarea{
        font-size: 16px;

    }

    .checkPublicacion{
        font-size: 16px;
        
    }
      

    /* ------------fin recetas--------- */

    /* ----------inicio contacto------------ */

    .contacto h1{
        font-size: 30px;
    }

    .contacto{
        flex-direction: column;
        margin: 50px 20px 50px 40px;
    
    }

    .contacto p{
        font-size: 16px;
        padding: 10px 0px 5px 20px;
        
    }

    
    /* ----------fin contacto------------ */


}


@media screen and (max-width: 992px){

    
    /* inicio blw*/


    .blw{
        border-radius: 0px;
        margin: 0px !important;
    }

    

    /* fin blw */

    /* inicio asesoría */


   
    /* fin asesoría */

    /* inicio nosotras */

    .nosotras{
        border-radius: 0px;
        margin: 0px !important;
    }

    
    /* fin nosotras */

    /* inicio testimonios */

    
    /* inicio newsletter */

    .news{
        border-radius: 0px;
        margin: 0px !important;
    }

    
    /* fin newsletter */

    

    /* -------------inicio blw------------- */

    .preguntaBlw{
        border-radius: 0px;
        margin: 0px;
        padding-bottom: 20px;
    }


    .recomendaciones{
        border-radius: 0px;
        margin: 0px;
        padding-right: 20px;
        
    }

    .beneficios{
        margin: 0px;
    }
   
    .verPlanes{
        flex-direction: column;
        margin: 0px;
        border-radius: 0px;
        padding: 60px;
    }

    .verPlanes p{
        text-align: center;
        
    }


    /* ------------fin blw--------- */

    /* ----------inicio nosotras------------ */

    .carolina{
        margin: 10px 20px 5px 50px;
        
    }

    .carolina h1{
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }

    .carolina p{
        font-size: 16px;
        margin-right: 50px;
    }

    
    .daiana h2{
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }

    .daiana p{
        font-size: 16px;
        margin: 10px 10px;
    }

    .valores{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
    }

    .valores h2{
        font-size: 30px;
        margin: 0px;
        text-align: center;
    
    }

    .valores p{
        text-align: center;
        
    }

    .valores .valores__p{
        font-size: 30px;
    }

    .valores .valores__p2{
        font-size: 16px;
    }

    
    /* ----------fin nosotras------------ */

    /* ----------inicio asesorías------------ */

    .planes__h1{
        font-size: 30px;
        text-align: center;
        
    }

    .planes__p{
        font-size: 16px;
        text-align: center;
    }

    .plan__bronze{
        font-size: 16px;
        
    }


    .plan__bronze img{
        width: 500px;
        
    }


      
    .plan__bronze ul{
        padding: 5px 0px 5px 50px;
        

    }

    
    .plan__reserva{
        text-align: center;
    }

    
    .plan__silver{
        font-size: 16px;
    }


    .plan__silver img{
        width: 500px;
      
    }

    
    .plan__silver h3{
        text-align: center;
        margin: 10px;
        
    }

    .plan__silver ul{
        padding: 5px 0px 5px 50px;
        
    }

    .plan__silver ul li{
        margin-right: 10px;
            
    }

    .plan__gold{
        font-size: 16px;
    }



    .plan__gold img{
        width: 500px;
       
        
    }

    
    

    .plan__gold ul{
        padding: 5px 0px 5px 50px;
        

    }

    .plan__premium{
        font-size: 16px;
    }


    .plan__premium img{
        width: 500px;
        
        
    }


    .plan__premium ul{
        padding: 5px 10px 5px 50px;
        
    }

    .plan__premium ul li{
        margin-right: 10px;
    }
    /* ----------fin asesorías------------ */


    /* ------------inicio recetas--------- */

    .recetas__h1{
        font-size: 30px;
    }

    .recetas__p{
        font-size: 16px;
    }

    .grid__h2{
        font-size: 30px;
        text-align: center;
    }

    .grid{
        margin-left: 5px;
    
    }

    .grid__texto-h3{
        font-size: 30px;
    }

    .grid__texto-p{
        font-size: 16px;
    }

    .publicacion{
        border-radius: 0px;
        margin: 0px;
        
    }

    .publicacion fieldset{
        padding: 30px 80px 40px 80px;
        border: none;

    }

    .publicacion legend{
        font-size: 20px;
        
    }

    .datosPublicacion input{
        font-size: 16px;
        
    }

    .areaPublicacion textarea{
        font-size: 16px;

    }

    .checkPublicacion{
        font-size: 16px;
        
    }
      

    /* ------------fin recetas--------- */

    /* ----------inicio contacto------------ */

    
    .contacto{
        flex-direction: column;
        margin: 50px 20px 50px 40px;
    
    }

    .contacto p{
        padding: 10px 0px 5px 20px;
        
    }

    
    /* ----------fin contacto------------ */

}
