@mixin imagen ($size, $radius){
    max-width: $size;
    border-radius: $radius;
}

@mixin animation ($name, $iteration, $duration, $function, $direction, $transition){
    animation-name: $name;
    animation-iteration-count: $iteration;
    animation-duration: $duration;
    animation-timing-function: $function;
    animation-direction: $direction;
    transition: $transition;
}

@mixin titulos ($color, $size-font) {
    color: $color;
    font-size: $size-font;
}