$naranja: #ff9800;
$turquesa: #6ec5b8; 
$blanco: white;
$negro: black;
$fuente-general: 'Montserrat';
$fuente-opcion: sans-serif !default;
$width-img: 500px; 
$bordes: 200px; 
$size-titulo: 35px;
$size-parrafo: 18px; 