$color-principal: #ff9800;
$color-secundario: #6ec5b8; 
$color-terciario: white;
$color-basico: black;
$fuente-general: 'Montserrat';
$fuente-opcion: sans-serif !default;
$width-img: 1000px; 
$bordes: 100px; 
$size-titulo: 35px;
