.hr{
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 10px !important;
    color: $naranja;
}

/* INICIO FOOTER */
.foot{
    ul{
    font-size: $size-parrafo - 4px;
    color: $naranja;
    font-weight: bold;
        li{
            list-style-type: none;
        }
    }
}

.accordion{
    width: 300px;
    .accordion-item button{
        color: $negro;
        font-size: $size-parrafo - 4px;
        font-weight: bold;  
        .accordion-item h4{
            border-bottom: 0px;
        }
    }
    .accordion ul{
        font-size: $size-parrafo - 4px;
        font-weight: bold;
        color: $naranja;
        .foot ul li{
            list-style-type: none;
        }
    }
       
}

.redesFoot{
    font-size: $size-titulo - 5px;
    a{
        i{
            color: $naranja;
        }
    }
}

.logoFoot{
    width: $width-img - 250px;
}

/* FIN FOOTER */