.hr{
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 10px !important;
    color: $naranja;
}

/* INICIO FOOTER */
.foot{
    &__list{
        a{
        font-size: $size-parrafo - 2px;
        color: $negro;
        font-weight: bold;
        letter-spacing: 1px;
        }
    }
}


.logoFoot{
    width: $width-img - 320px;
}

/* FIN FOOTER */