.publicacion{
    background-image: url(../img/back.png);
    border-radius: 200px;
    margin: 10px 40px 20px 40px;
    fieldset{
        padding: 30px 80px 40px 80px;
        border: none;
    }
    legend{
        color: $color-terciario;
        font-size: 30px;
        font-weight: bold;
        padding-top: 30px;
        padding-left: 40px;
    }
}

.datosPublicacion{
    display: flex;
    padding-right: 10px;
    padding-bottom: 10px;
    input{
        font-size: 16px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
    }
}

.areaPublicacion textarea{
    width: 100%;
    font-size: 16px;
    color: gray;
    border: none;
    border-radius: 5px;

}

.checkPublicacion{
    font-size: 16px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    color:$color-terciario;
    padding-top: 10px;
}

.botonPublicacion{
    background: #ff9800;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease-out;
    .botonPublicacion:hover{
        transform: scale(1.1, 1.1);
    }
}

.form{
    transition: all 0.5s ease-out;
}

.form:hover{
    transform: scale(1.2, 1.2);
}

.fieldset{
    background-image: url(../img/back.png);
    border-radius: $bordes - 80px;
    width: 350px;
    margin: auto;
    border: none;
    .formulario{
        padding: 5px 15px;
        .tamaño{
            width: 100%;
            font-size: 14px;
            color: gray;
            border: none;
            border-radius: 5px;
        }   
    }        
}

.new{
    font-size: 14px;
    color: $color-terciario;
    
}

.botonContacto{
    display: flex;
    justify-content: space-around;
}

.botonForm{
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    margin-bottom: 20px;
    transition: all 0.5s ease-out
}

.botonForm:hover{
    transform: scale(1.2, 1.2);
}