/* recetas */

.publicacion{
    background-image: url(../img/back.png);
    @extend %style-bg; 
    background-repeat: no-repeat;
    border-radius: $bordes;
    fieldset{
        padding: 30px 80px 40px 80px;
        border: none;
    }
    legend{
        color: $blanco;
        font-size: $size-titulo - 5px;
    }
}

.datosPublicacion{
    display: flex;
    input{
        font-size: $size-parrafo - 2px;
        border: none;
        border-radius: $bordes - 195px;
    }
}

.areaPublicacion textarea{
    width: 100%;
    font-size: $size-parrafo - 2px;
    color: gray;
    border: none;
    border-radius: $bordes - 195px;

}

.checkPublicacion{
    font-size: $size-parrafo;
    color: $negro;
}

/* contacto */

.form{
    transition: all 0.5s ease-out;
    &:hover{
        transform: scale(1.2, 1.2);
    }
}


.fieldset{
    background-image: url(../img/back.png);
    border-radius: $bordes - 180px;
    width: 350px;
    margin: auto;
    border: none;
    .formulario{
        .tamaño{
            width: 100%;
            font-size: $size-parrafo - 4px;
            color: gray;
            border: none;
            border-radius: $bordes - 195px;
        }   
    }        
}

.new{
    font-size: $size-parrafo - 4px;
    color: $blanco;
    
}