.logo{
    width: $width-img - 220px;
}

.login__registro{
    background-color: $naranja;
    color: $blanco;
    border: 0px;
    &:hover{
        background-color: $turquesa;
    }
}

.login{
    &__img{
        width: $width-img - 470px;
        transition: all 0.3s ease-out;
    
        &:hover{
            transform: scale(0.8, 0.8);
        }

        &--user:hover{
            transform: none;
        }
    }
}


.login__input{
    width: 170px;
    height: 20px;
    font-size: $size-parrafo - 4px;
    transition: all 0.5s ease-out;
    &:hover{
        transform: scale(1.3, 1.3);
    }
}

.menu{
    background-color: $naranja;
    a{
        color: $blanco !important;
        font-size: $size-parrafo - 2px;
        letter-spacing: 2px;
        margin-right: 15px;  
        transition: all 0.4s ease-out;
    }
        li a:hover{
            background-color: $turquesa;
            background-size: cover;
        }
    
}