.planes{
    background-image: url(../img/back.png);
    border-radius: $bordes;
    &__h1{
        color: $blanco;
    }
    &__p{
        @extend %style-parrafo;
    }
}

.plan{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items: center;
}

.plan__carrot{
    background-color: $turquesa;
    border-radius: $bordes - 120px;
    margin-top: 30px;
    transition: all 0.5s ease-out;
    &-img{
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &-h3{
        color: $blanco;
    }
    &-ul{
        font-size: $size-parrafo - 2px;
        color: $negro;
        padding: 5px 0px 0px 40px;
        li{
            padding-bottom: 0px;
            padding-right: 10px;
           
        }
    }
}

.plan__carrot:hover{
    transform: scale(1.1, 1.1);
    background-color: $naranja;
    .plan__reserva-a{
        background-color: $turquesa;
    }
}
