.planes{
    background-image: url(../img/back.png);
    border-radius: $bordes;
    text-align: center;
    margin: 20px 40px;
    h1{
        color: $blanco;
        font-weight: bold;
        padding-top: 20px;
    }
    p{
        color: $negro;
        font-size: $size-parrafo - 2px;
        font-weight: bold;
        padding-bottom: 20px;
    }
}

.plan{
    font-weight: bold;
    margin: 5px 10px 20px 20px;
    padding-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items: center;
}

.plan__carrot{
    background-color: $turquesa;
    border-radius: $bordes - 120px;
    img{
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    h3{
        text-align: center;
        color: $blanco;
        font-weight: bold;
        padding-top: 10px;
    }
    ul{
        font-size: $size-parrafo - 2px;
        color: $negro;
        padding: 5px 0px 0px 40px;
        li{
            padding-bottom: 0px;
            padding-right: 10px;
           
        }
    }
}

.plan__reserva{
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
    transition: all 0.5s ease-out;
    .plan__reserva-a{
        text-decoration: none;
        font-size: $size-parrafo + 2px;
        letter-spacing: 2px;
        color: $blanco;
        background-color: $naranja;
        border-radius: $bordes - 180px;
        padding: 5px 15px 5px 15px;  
    }
}



.plan__reserva:hover{
    transform: scale(1.1, 1.1);
    a:hover{
        background-color: $naranja;
    }
}
