.preguntaBlw{
    background-image: url(/img/backAzul1.png);
    @extend %style-bg;
	img{
		@include imagen($width-img - 100px, 27% 73% 66% 34% / 52% 39% 61% 48%);
	}
	h1{
    	@include titulos($blanco, $size-titulo);
	}
	p{
		@extend %style-parrafo;
    	margin-right: 70px;
	}
}

.beneficios{
	h2{
		@include titulos($naranja, $size-titulo);
	}
	ul{
		@extend %style-parrafo;
    	li{
    		margin-left: 200px;
		}
	}
    
}

.ulBeneficios{
	video{
    	width: 210px;
    	margin-right: 120px;
    	border-radius: $bordes - 60px;
	}
}

.recomendaciones{ 
    margin-right: 100px;
    font-size: $size-parrafo;
    background-image: url(../img/backNaranja.png);
    @extend %style-bg; 
    img{
		@include imagen($width-img - 200px, 27% 73% 66% 34% / 52% 39% 61% 48%)
	}
	h2{
    	@include titulos($blanco, $size-titulo);
	}
	p{
		@extend %style-parrafo; 
	}
}

.recomendaciones ul{
	@extend %style-parrafo; 
}

.conclusion{
	@include titulos($negro, $size-parrafo + 1px);
    margin-right: 120px;
	margin-left: 150px;
}

.verPlanes{
    background-image: url(../img/back.png);
    @extend %style-bg; 
	p{
    	@include titulos($blanco, $size-titulo);
		@include animation(ver, infinite, 3.5s, ease-in, none, none);
		@keyframes ver{
    			from{
        			transform: scale(1, 1);
    
    			}

    			to{
        			transform: scale(1.1, 1.1);
        
    			}

		} 
    }

}