.contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 200px 50px 40px;
    h1{
        font-weight: bold;
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 10px;
        color: $color-secundario; 
    }
    p{
        font-size: 18px;
        font-weight: bold;
        padding: 20px 50px 5px 50px;
        
    }
}

.redesContacto{
    text-align: center;
    font-size: 45px;
}



