$titulos:(
    uno: $turquesa,
    dos: $naranja
);

@each $titulo, $color in $titulos{
    .bg--#{$titulo}{
        background-color: $color;
        @include recetario (none, $blanco, $bordes);
    }
}