.contacto{
    @extend %style-flex;
    margin-right: 200px;
    h1{
        font-weight: bold;
        color: $turquesa; 
    }
    p{
        @extend %style-parrafo; 
        font-weight: bold;
    }
}

.redesContacto{
    font-size: 45px;
}



