body{
    font-family: $fuente-general;
}

/* INICIO BLW */

.blw{
    background-image: url(../img/backAzul.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $bordes * 2;
    .blw__img{
        max-width: $width-img - 600;
        padding-right: 100px - 50px;
        border-radius: $bordes * 2;
    }
}

.blw__info{
    margin-left: 60px * 2;
    margin-right: (90px / 3);
    .blw__h1{
        color: $color-terciario;
        font-size: $size-titulo + 15;    
    }
    .blw__p{
        color: $color-basico;
        font-size: 16px + 2;
    }
}

/* FIN BLW */

/* INICIO ASESORIA */

.asesoria{
    margin-bottom: -40px;
    .asesoria__h2{
        font-size: $size-titulo;
        color: $color-principal;  
    }
    .asesoria__p{
        font-size: 20px - 2;
        color: $color-basico;
    }
    .asesoria__a{
        text-decoration: none;
    }
}

.asesoria__boton{
    font-size: 14px;
    letter-spacing: 2px;
    background-color: $color-secundario;
    color: $color-terciario;
    border-radius: $bordes - 80px;
    padding: 5px 10px;
    margin-left: 8px;
    animation-name: btn__asesoria;
    animation-iteration-count:infinite;
    animation-duration: 0.8s;
    animation-timing-function:ease-in;
    animation-direction:alternate;
    transition: all 0.5s ease-out;
}

@keyframes btn__asesoria{
    from{ 
        transform: scale(1.1, 1.1);
    }
    
    to{
        transform: scale(1, 1);
    }
}

.asesoria__boton::after{
    position: absolute;
    margin-left: -30px;
    right: 1px;
    content: " ";
    background-color: $color-secundario;
    width: 100%;
    height: 100%;
    filter: blur(28px);
    z-index: -1;
}

.asesoria__boton:hover{
    background-color: $color-principal;
}

.grupo{
    text-align: center;
    transition: all 1s ease-out;
    position: relative;
    overflow: hidden;
    .grupo__h3{
        font-size: 20px - 2;
        color: $color-basico;
        position: relative;
        z-index: 1;
    }
    .grupo__p{
        font-size: $size-titulo - 17px;
        color: $color-basico;
        position: relative;
        z-index: 1;
        transform: translateY(100px);
        opacity: 0;
        transition: all 0.5s ease-out;
    }
    .grupo__img{
        width: $width-img - 720;
        transition: all 0.7s ease-out;
        animation-name: imgGrupo;
        animation-iteration-count:infinite;
        animation-duration: 2s;
        animation-timing-function:ease-in;
        animation-direction:alternate;
    
        @keyframes imgGrupo{
            from{ 
                transform: rotate(0deg);
            }
        
            to{
                transform: rotate(-5deg);
            }
        }
    }    
}

.grupo:hover .grupo__p{
    transform: translateY(0);
    opacity: 1;
}

.grupo:hover img{
    width: 200px;
}

/* FIN ASESORIA */

/* INICIO NOSOTRAS */

.nosotras{
    background-image: url(../img/backNaranja.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $bordes * 2;
    padding-right: 50px;
    .nosotras__img{
        max-width: $width-img - 650px;
        border-radius: 220px;
        padding-left: 50px;
    }
}

.nosotras__info{
    .nosotras__h2{
        color: $color-terciario;
        font-size: $size-titulo;
    }
    .nosotras_p{
        color: $color-basico;
        font-size: $size-titulo - 17px; 
    }
}


/* FIN NOSOTRAS */

/* INICIO TESTIMONIOS */

.testimonios{
    .testimonios__h2{
        color: $color-secundario;
        
    }
}

.testimonios__grupo{
    .testimonios__grupo-p{
        font-size: 20px - 4;
        font-weight: 10 * 40;
        color: $color-basico;
    }
    .testimonios__grupo-h3{
        font-size: $size-titulo - 17px;
        background-color: $color-secundario;
        border-radius: $bordes - 50;
        .testimonios__grupo-badge{
            color: $color-principal;
            animation-name: bdg__testimonio;
            animation-iteration-count:infinite;
            animation-duration: 1.8s;
            animation-timing-function:ease-in;
            animation-direction:alternate;
        }
        .testimonios__grupo-badge:hover{
            color: #6ec5b8;
           
        }
        @keyframes bdg__testimonio{
            from{ 
                transform: scale(1.1, 1.1);
            }
            
            to{
                transform: scale(1, 1);
            }
        }
    }
}


.testimonios__grupo{
    .testimonios__grupo-img--1{
        width: 120px;
        border-radius: 77% 23% 41% 59% / 52% 49% 51% 48%  ;
    }
    .testimonios__grupo-img--2{
        width: 130px;
        border-radius: 46% 54% 46% 54% / 76% 76% 24% 24% ;
    }
    .testimonios__grupo-img--3{
        width: 130px;
        border-radius: 52% 48% 26% 74% / 62% 65% 35% 38%  ;
    }
}

/* FIN TESTIMONIOS */

/* INICIO NEWSLETTER */

.news{
    background-image: url(../img/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $bordes * 2;
    margin-left: (200px / 4);
    margin-right: (200px / 4);
    .news__info{
        .news__h2{
            font-size: $size-titulo;
            color: $color-terciario;
            letter-spacing: 5px;
            animation-name: news;
            animation-iteration-count:infinite;
            animation-duration: 5s;
            animation-timing-function:ease-in;
    
            @keyframes news{
                from{
                    transform: scale(1, 1);
                    
                }
            
                to{
                    transform: scale(1.2, 1.2);
                    
                }     
            }
        }
    }
}


.news{
    .news__info{
        .news__p{
            color: $color-basico;
        
        }
    }
    .news__input{
        width: 40px * 10;
    }
    .news__button{
        background-color: #ff9800;
        border: none;
        transition: all 0.5s ease-out
    }
    
    .news__button:hover{
        transform: scale(1.2, 1.2);
        background-color: #ff9800;
        color: white;
        border: none;
    }
    
}

/* FIN NEWSLETTER */


