body{
    font-family: $fuente-general;
}

/* INICIO BLW */

.blw{
    background-image: url(../img/backAzul.png);
    @extend %style-bg; 
    &__img{
        @include imagen($width-img - 100px, $bordes); 
    }
}

.blw__info{
    margin-left: 120px;
    .blw__h1{
        @include titulos($blanco, $size-titulo + 15);   
    }
    .blw__p{
        @extend %style-parrafo;
    }
}

/* FIN BLW */

/* INICIO ASESORIA */

.asesoria{
    margin-bottom: -40px;
    &__h2{
        @include titulos($naranja, $size-titulo);  
    }
    &__p{
        @extend %style-parrafo; 
    }
    &__a{
        text-decoration: none;
    }
}

.grupo{
    overflow: hidden;
    &__h3{
        @extend %style-parrafo;
    }
    &__p{
        @extend %style-parrafo;
    }
    &__img{
        width: $width-img - 220;
        @include animation(imgGrupo, infinite, 2s, ease-in, alternate, all 0.7s ease-out);
        @keyframes imgGrupo{
            from{ 
                transform: rotate(0deg);
            }
        
            to{
                transform: rotate(-5deg);
            }
        }
    }    
}


/* FIN ASESORIA */

/* INICIO NOSOTRAS */

.nosotras{
    background-image: url(../img/backNaranja.png);
    @extend %style-bg;
    &__img{
        @include imagen($width-img - 150px, $bordes + 20px);
    }
}

.nosotras__info{
    .nosotras__h2{
        @include titulos($blanco, $size-titulo);
    }
    .nosotras_p{
        @extend %style-parrafo; 
    }
}


/* FIN NOSOTRAS */

/* INICIO TESTIMONIOS */

.testimonios{
    &__h2{
        color: $turquesa;
    }
}

.testimonios__grupo{
    &-p{
        font-size: $size-parrafo - 2px;
        font-weight: 400;
        color: $negro;
    }
    &-h3{
        font-size: $size-titulo - 17px;
        background-color: $turquesa;
        border-radius: $bordes - 150;
    .testimonios__grupo-badge{
            color: $naranja;
            @include animation(bdg__testimonio, infinite, 1.8s, ease-in, alternate, none);
        }
        .testimonios__grupo-badge:hover{
            color: $turquesa;
           
        }
        @keyframes bdg__testimonio{
            from{ 
                transform: scale(1.1, 1.1);
            }
            
            to{
                transform: scale(1, 1);
            }
        }
    }
}


.testimonios__grupo{
    &-img--1{
        @include imagen($width-img - 380px, 77% 23% 41% 59% / 52% 49% 51% 48%); 
    }
    &-img--2{
        @include imagen($width-img - 370px, 46% 54% 46% 54% / 76% 76% 24% 24%);
    }
    &-img--3{
        @include imagen($width-img - 370px, 52% 48% 26% 74% / 62% 65% 35% 38%);
    }
}

/* FIN TESTIMONIOS */

/* INICIO NEWSLETTER */

.news{
    background-image: url(../img/back.png);
    @extend %style-bg;
    &__info{
    .news__h2{
            @include titulos($blanco, $size-titulo);
            letter-spacing: 5px;
            @include animation(news, infinite, 5s, ease-in, none, none);
            @keyframes news{
                from{
                    transform: scale(1, 1);
                    
                }
            
                to{
                    transform: scale(1.2, 1.2);
                    
                }     
            }
        }
    }
}


.news{
    &__info{
        .news__p{
            @extend %style-parrafo;
        
        }
    }
    &__input{
        width: 400px;
    }
    
}

/* FIN NEWSLETTER */