.carolina{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 50px 5px 50px;
    img{
        width: $width-img - 700px;
        height: auto;
        padding: 10px;
        background-color: $color-secundario;
        border-radius: 27% 73% 66% 34% / 52% 39% 61% 48%;
        
    }
    h1{
        font-size: $size-titulo - 5px;
        font-weight: bold;
        text-align: center;
        color: $color-terciario;
        background-color: $color-secundario;
        border-radius: $bordes - 80px;
        margin: 5px 250px;
    }
    p{
        color: $color-basico;
        font-size: 18px;
        font-weight: bold;
        padding: 5px;
        margin-left: 30px;
    }
}

.daiana{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 50px 5px 50px;
    img{
        width: $width-img - 650px;
        height: auto;
        padding: 10px;
        background-color: $color-principal;
        border-radius: 59% 41% 41% 59% / 53% 47% 53% 47%;
        
    }
    h2{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        background-color: $color-principal;
        border-radius: $bordes - 80px;
        color: $color-terciario;
        margin: 5px 200px;
    }
    p{
        color: $color-basico;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        margin-left: 30px;
    }
}

.valores{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $bordes * 2;
    margin: 5px 50px 20px 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 40px;
    .valores__p{
        font-size: $size-titulo - 5px;
        font-weight: bold;
        color: $color-terciario;
        text-align: center;
        margin-top: 60px;
        animation-name: valor;
        animation-iteration-count:infinite;
        animation-duration: 3.5s;
        animation-timing-function:ease-in;
    }
    .valores__p2
    {
        font-size: 20px;
        color: $color-basico;
        font-weight: bold;
        text-align: center;
    }
    a{
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: bold;
        color: $color-terciario;
        background-color: $color-principal;
        border-radius: $bordes - 80px;
        padding: 5px 15px;
        margin-top: 70px;
        transition: all 0.5s ease-out;
    }
        a:hover{
            transform: scale(1.2, 1.2);
        }
}

@keyframes valor{
    from{
        transform: scale(1, 1);
    
    }

    to{
        transform: scale(1.1, 1.1);
        
    }


}



