.carolina{
    @extend %style-flex; 
    img{
        width: $width-img - 200px;
        height: auto;
        background-color: $turquesa;
        border-radius: 27% 73% 66% 34% / 52% 39% 61% 48%;
        
    }
    h1{
        font-size: $size-titulo - 5px;
        color: $blanco;
        background-color: $turquesa;
        border-radius: $bordes - 180px;
        margin: 5px 250px;
    }
    p{
        @extend %style-parrafo;
        margin-left: 30px;
    }
}

.daiana{
    @extend %style-flex; 
    img{
        width: $width-img - 150px;
        height: auto;
        background-color: $naranja;
        border-radius: 59% 41% 41% 59% / 53% 47% 53% 47%;
        
    }
    h2{
        font-size: $size-titulo - 5px;
        background-color: $naranja;
        border-radius: $bordes - 180px;
        color: $blanco;
        margin: 5px 200px;
    }
    p{
        @extend %style-parrafo;
    }
}

.valores{
    @extend %style-flex; 
    background-image: url(../img/back.png);
    @extend %style-bg;
    .valores__p{
        font-size: $size-titulo - 5px;
        color: $blanco;
        animation-name: valor;
        animation-iteration-count:infinite;
        animation-duration: 3.5s;
        animation-timing-function:ease-in;
    }
    .valores__p2{
        font-size: 20px;
        color: $negro;
    }
}

@keyframes valor{
    from{
        transform: scale(1, 1);
    
    }

    to{
        transform: scale(1.1, 1.1);
        
    }
}