.recetas{
    background-image: url(../img/back.png);
    border-radius: $bordes;
    &__h1{
        color: $blanco;
        font-size: $size-titulo;
    }
    &__p{
        @extend %style-parrafo;
    }
}



