.recetas{
    background-image: url(../img/back.png);
    border-radius: $bordes;
    margin: 20px 40px 30px 40px;
    padding: 5px 20px 5px 20px;
    h1{
        color: $blanco;
        font-size: $size-titulo;
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
    }
    p{
        color: $negro;
        font-size: $size-parrafo;
        font-weight: bold;
        text-align: center;
    }
}



