.login{
    .login__registro{
        background-color: $naranja;
        color: $blanco;
        border: 0px;
    }
        .login__registro:hover{
            background-color: $turquesa;
        }
}

.news{
    .news__button{
        background-color: $naranja;
        border: none;
        transition: all 0.5s ease-out
    }
        .news__button:hover{
            transform: scale(1.2, 1.2);
            background-color: $naranja;
            color: $blanco;
            border: none;
        }  
}

.accordion{
    .accordion-item{
        button{
            font-size: $size-parrafo - 4px;
            font-weight: bold;
        }
    }
    
}

.verPlanes{
    a{
    	text-decoration: none;
    	font-size: $size-parrafo - 2px;
    	letter-spacing: 3px;
    	font-weight: bold;
    	color: $blanco;
    	margin-left: 40px;
    	background-color: $naranja;
    	border-radius: $bordes - 180px;
    	padding: 5px 15px 5px 15px;
    	transition: all 0.5s ease-out;
   
	}	
}

.verPlanes .botonVer:hover{
    transform: scale(1.2, 1.2);
}

.valores{
    a{
        text-decoration: none;
        font-size: $size-parrafo;
        font-weight: bold;
        color: $blanco;
        background-color: $naranja;
        border-radius: $bordes - 180px;
        padding: 5px 15px;
        margin-top: 30px;
        margin-right: 130px;
        transition: all 0.5s ease-out;
    }
        a:hover{
            transform: scale(1.2, 1.2);
        }
}

.plan__reserva{
    list-style-type: none;
    margin: 5px;
    .plan__reserva-a{
        text-decoration: none;
        font-size: $size-parrafo + 2px;
        color: $blanco;
        background-color: $naranja;
        border-radius: $bordes - 180px;
        padding: 5px 15px 5px 15px;
        
    }
    .plan__reserva-a:hover{
        background-color: $turquesa;
    }
}

.grid__texto{
    .grid__texto-a{
        text-decoration: none;
        font-size: $size-parrafo - 4px;
        color: $blanco;
        font-weight: 400;
        padding: 5px;    
    } 
}

.grid{
    .grid__texto-a:hover{
        background-color: $naranja;
        border-radius: $bordes - 180px;
    }
}

.grid{
    .grid__texto-a--meriendas:hover{
        background-color: $turquesa;

    }
}

.botonPublicacion{
    background: $naranja;
    color: $blanco;
    font-size: $size-parrafo - 4px;
    font-weight: bold;
    border: none;
    border-radius: $bordes - 185px;
    padding: 10px 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.botonPublicacion:hover{
    transform: scale(1.1, 1.1);
}

.redesContacto{
    a{
        i{
            color: $naranja;
            
        } 
    }
}

.botonContacto{
    display: flex;
    justify-content: space-around;
    .botonForm{
        background: $naranja;
        color: $blanco;
        border: none;
        border-radius: $bordes - 185px;
        padding: 5px 10px;
        margin-bottom: 20px;
        transition: all 0.5s ease-out
    }
}

.botonForm:hover{
    transform: scale(1.2, 1.2);
}