/* header */
.login{
    .login__registro{
        background-color: $naranja;
        color: $blanco; 
        border: 0px;
    }
        .login__registro:hover{
            background-color: $turquesa;
        }
}

/* asesoria llamado a planes */
.asesoria__boton{
    font-size: $size-parrafo - 4px;
    letter-spacing: 2px;
    background-color: $turquesa;
    color: $blanco;
    border-radius: $bordes - 180px;
    animation-name: btn__asesoria;
    animation-iteration-count:infinite;
    animation-duration: 0.8s;
    animation-timing-function:ease-in;
    animation-direction:alternate;
    transition: all 0.5s ease-out;
    &::after{
        position: absolute;
        margin-left: -30px;
        right: 1px;
        content: " ";
        background-color: $turquesa;
        width: 100%;
        height: 100%;
        filter: blur(28px);
        z-index: -1;
    }
    &:hover{
        background-color: $naranja;
    }
}

@keyframes btn__asesoria{
    from{ 
        transform: scale(1.1, 1.1);
    }
    
    to{
        transform: scale(1, 1);
    }
}

/* newsletter */
.news{
    .news__button{
        @extend %style-button; 
        border: none;
        transition: all 0.5s ease-out
    }
        .news__button:hover{
            transform: scale(1.2, 1.2);
            border: none;
        }  
}

/* footer */
.accordion{
    .accordion-item{
        button{
            font-size: $size-parrafo - 4px;
            font-weight: bold;
        }
    }
    
}

/* llamado a planes */
.verPlanes{
    a{
    	text-decoration: none;
    	font-size: $size-parrafo - 2px;
    	@extend %style-button; 
    	border-radius: $bordes - 180px;
    	transition: all 0.5s ease-out;
	}	
    .botonVer{
		transition: all 0.5s ease-out;
	}
	.botonVer:hover{
		transform: scale(1.2, 1.2);
	}
}

/* llamado a contacto */
.valores{
    a{
        text-decoration: none;
        font-size: $size-parrafo;
        @extend %style-button; 
        border-radius: $bordes - 180px;
        transition: all 0.5s ease-out;
        &:hover{
            transform: scale(1.2, 1.2);
        }
    }
}

/* planes */
.plan__reserva{
    list-style-type: none;
    transition: all 0.5s ease-out;
    .plan__reserva-a{
        text-decoration: none;
        font-size: $size-parrafo + 2px;
        @extend %style-button; 
        border-radius: $bordes - 180px; 
        transition: all 0.5s ease-out;
    }
}



.plan__reserva:hover{
    transform: scale(1.1, 1.1);
    &-a:hover{
        background-color: $turquesa;
    }
}

/* recetas */
.grid__texto{
    .grid__texto-a{
        text-decoration: none;
        font-size: $size-parrafo - 4px;
        color: $blanco;
        font-weight: 400;
        padding: 5px;    
        transition: all 0.5s ease-out; 
    } 
}

.grid{
    .grid__texto-a:hover{
        @extend %style-button;
        font-weight: bold;
        letter-spacing: 2px;
        border-radius: $bordes - 180px;
    }
}

.grid{
    .grid__texto-a--meriendas:hover{
        background-color: $turquesa;

    }
}

.botonPublicacion{
    @extend %style-button; 
    font-size: $size-parrafo - 4px;
    border: none;
    border-radius: $bordes - 185px;
    transition: all 0.3s ease-out;
    &:hover{
        transform: scale(1.1, 1.1);
    }
}

/* contacto */
.redesContacto{
    a{
        i{
            color: $naranja;
            
        } 
    }
}

.botonContacto{
    .botonForm{
        @extend %style-button; 
        border: none;
        border-radius: $bordes - 185px;
        transition: all 0.5s ease-out
    }
}

.botonForm:hover{
    transform: scale(1.2, 1.2);
}

/* reservación */

.reservacion__envio{
    @extend %style-button; 
    border: none;
    transition: all 0.5s ease-out;
    &:hover{
        transform: scale(1.2, 1.2);
    }
}

.volver{
    font-size: 14px;
    text-decoration: none;
    border-radius: $bordes - 185px ; 
    background-color: $turquesa;
    letter-spacing: 1px;
}